@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@using Nop.Plugin.Widgets.ShipmentTracking.Models;
@using Nop.Core;

@inject IStoreContext _storeContext
@{

    string ScriptVersion = Guid.NewGuid().ToString("N");

    @*@RenderSection("DashboardScripts", required: false)*@
}

<html lang="fa" dir="rtl">
<head>

    <title>@Html.NopTitle()</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="" type="image">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123749803-3"></script>

    <link rel="stylesheet" href="~/Themes/Postbar/css/bootstrap.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/select2.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/all.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/jquery.mmenu.all.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/owl.carousel.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/owl.theme.default.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/flexslider.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/fontiran.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/iranSans.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/fontawesome5_10_2/css/fontawesome.min.css?ver=@(ScriptVersion)">
    <link rel="stylesheet" href="~/Themes/Postbar/css/font-awesome-animation.min.css?ver=@(ScriptVersion)">

    <script src="~/Themes/Postbar/js/jquery-3.3.1.min.js?ver=@(ScriptVersion)"></script>
    <script src="~/Themes/Postbar/js/bootstrap.min.js?ver=@(ScriptVersion)"></script>
    <script src="~/Plugins/Orders.MultiShipping/Content/common.js?ver=@(ScriptVersion)"></script>

    <link href="~/Plugins/Orders.ExtendedShipment/Scripts/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Plugins/Orders.ExtendedShipment/Scripts/sweetalert/sweetalert.js"></script>


    <style>
        .mytable > tbody > tr > th {
            font-size: 9pt !important;
            width: 30% !important;
        }

        .lbl2 {
            color: orange;
        }

        .lbl3 {
            color: #08317d
        }

        .bgRahgiri {
            background-color: #01a0e1;
            height: auto;
        }
    </style>


    <style>
        * {
            box-sizing: border-box;
        }

        /* Create four equal columns that floats next to each other */
        .column {
            float: left;
            width: 19%;
            padding: 5px;
            height: 11%; /* Should be removed. Only for demonstration */
            border-radius: 10px 10px;
            background-color: white;
            border: 2px;
            border-color: gray;
            margin-right: 1%;
            margin-bottom: 1%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column:hover {
            border: 5px solid #ffa318;
        }

        .btnSearch {
            background-color: #f7941d !important;
            height: 40px;
            color: white;
        }

            .btnSearch:hover {
                transition: transform .5s ease-out;
                transform: scale(1.02);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

        .selectInputSearch {
            background: url(/Themes/postexNew/images/barcode.png) no-repeat left 10px center;
            background-color: white;
            background-origin: border-box;
            background-size: 3rem 2rem;
        }

        .btnNewOrder {
            background-color: white !important;
            height: 40px;
            color: #01a0e1;
        }

            .btnNewOrder:hover {
                transition: transform .5s ease-out;
                transform: scale(1.02);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
    </style>
</head>
<body>

    <div class="bgRahgiri col-md-12">
        <i class="fa fa-spinner fa-spin" id="@(ScriptVersion)LoadingGift" style="font-size:48px;color:#ffa318;position:fixed;top:50%;left:50%;z-index:999999999999999;display:none"></i>
        <label class="labelSearch col-md-12 mt-2" style="text-align: center; color: #fff;float:left">سامانه جامع @_storeContext.CurrentStore.Name</label>
        <label class="labelSearch col-md-12" style="text-align: center; color: #fff;float:left">رهگیری مرسولات پستی</label>
        <div class="input-group mb-1" id="@(ScriptVersion)divInputMobile" style="position: relative;">

            @*<input type="text" id="@(ScriptVersion)RhOrderId" aria-label="Last name"
                class="form-control search-input rahgiri  numSefaresh selectInputSearch Dimensions m-0 p-1"
                placeholder="شماره سفارش">*@

            <input type="text" id="@(ScriptVersion)RhTrackingNumber" aria-label="First name"
                   class="form-control search-input rahgiri codeRahgiri selectInputSearch Dimensions m-0 p-1" placeholder="کد رهگیری">

            @*<input type="text" id="@(ScriptVersion)RhMobile" aria-label="Third name"
                class="form-control search-input rahgiri numPhone selectInputSearch Dimensions m-0 p-1"
                placeholder="موبایل فرستنده/گیرنده">*@

        </div>

        <div class="input-group-prepend row">
            <div class="col-md-2 col-sm-1">

            </div>
            <div class="col-md-8 col-sm-10">
                <button class="btn btn-block btn-outline-secondary p-0 mb-4 mt-1 btnSearch" type="button" id="@(ScriptVersion)_TrackShipment">
                    رهگیری
                    <img class="searchIconMobile" style="max-width: 100%;max-height: 100%;" src="~/Themes/postexNew/images/searchIconWhite.png" />
                </button>
                <button class="btn btn-block p-0 mb-3 mt-1 btnNewOrder" type="button" onclick="location.href = 'https://postex.ir'">
                    ثبت سفارش مرسوله پستی <i class="fa fa-box"></i>
                </button>
            </div>
           
            <div class="col-md-2 col-sm-1">

            </div>
        </div>

        @{
            var session = Context.Session.GetString("TrackingRequestData");
            if (!string.IsNullOrEmpty(session))
            {
                var requestData = JsonConvert.DeserializeObject<List<TrackingRequestData>>(session);
                var fiveMin = DateTime.Now.AddMinutes(-2);
                if (requestData.Count(p => p.RequestDateTime >= fiveMin) >= 5)
                {
                    <div id="captchaItem" style="float:left">

                        <nop-captcha />

                    </div>
                }
            }
        }
        @*<div class="form-group">
                <input type="text" class="custom-input tracking-code-input " maxlength="25" id="@(ScriptVersion)TrackingAllInput" placeholder="کد رهگیری مرسوله یا شماره سفارش در سامانه امنیتو یا شماره موبایل فرستنده یا گیرنده">
                <input type="text" class="custom-input tracking-code-input rightTrackInput" maxlength="25" id="@(ScriptVersion)RhTrackingNumber" placeholder="کد رهگیری پستی ">
                <input type="text" class="custom-input tracking-code-input centerTrackInput" maxlength="8" id="@(ScriptVersion)RhOrderId" placeholder=" شماره سفارش در سامانه امنیتو   ">
                <input type="text" class="custom-input tracking-code-input leftTrackInput" maxlength="14" id="@(ScriptVersion)RhMobile" placeholder=" شماره موبایل فرستنده یا گیرنده">
            </div>
            <a id="@(ScriptVersion)TrackShipment" class="pbtn btn custom-btn-01 btn-search-modal">
                رهگیری
                <span> مرسوله شما</span>
            </a>*@
        @*</form>
                </div>


            </div>*@
    <script>
    $(document).ready(function () {
        $('body').addClass('blocker-modal');
        document.getElementById('@(ScriptVersion)RhTrackingNumber').addEventListener('input', event =>
            event.target.value = ToJsutNumber(event.target.value)
        );
        @*document.getElementById('@(ScriptVersion)RhOrderId').addEventListener('input', event =>
            event.target.value = ToJsutNumber(event.target.value)
        );
        document.getElementById('@(ScriptVersion)RhMobile').addEventListener('input', event =>
            event.target.value = ToJsutNumber(event.target.value)
        );*@
        //document.getElementById('@(ScriptVersion)TrackingAllInput').addEventListener('input', event =>
        //    event.target.value = ToJsutNumber(event.target.value)
        //);

        $('#@(ScriptVersion)_TrackShipment').click(function () {
            //$('#@(ScriptVersion)modalBody').html('');

            var trackingNumber = $('#@(ScriptVersion)RhTrackingNumber').val();
            var orderId = $('#@(ScriptVersion)RhOrderId').val();
            var mobileNo = $('#@(ScriptVersion)RhMobile').val();
            var allinput = '';//$('#@(ScriptVersion)TrackingAllInput').val()
            var data = { 'TrackingAllInput': allinput, 'trackingNumber': trackingNumber, 'orderId': orderId, 'MobileNo': mobileNo, 'IdServiceProvider': 0, "g-recaptcha-response": $("#g-recaptcha-response").val()}
            //addAntiForgeryToken(data );
            if (!trackingNumber) {
                alert("لطفا کد رهگیری را وارد کنید");
                return;
            }
            $.ajax({
                beforeSend: function () {
                    //$('#@(ScriptVersion)TrackShipment').prop("disabled", "disabled");
                    $("#@(ScriptVersion)LoadingGift").css("display", "block");

                },
                traditional: true,
                type: "POST",
                url: "@(Url.Action("GetTrackingResultLanding", "ShipmentTracking"))",
                data: data,
                success: function (result) {

                    if (result.State == 200) {
                        createDataView(result.data);
                        $('#@(ScriptVersion)TrackShipment').prop("disabled", false);
                        $("#@(ScriptVersion)LoadingGift").css("display", "none");
                    }
                    else if (result.State == 404) {
                        $("#@(ScriptVersion)LoadingGift").css("display", "none");
                        $('#@(ScriptVersion)modal_ServiceProvider').modal('show', { backdrop: 'static' });
                        $('#@(ScriptVersion)modal_ServiceProvider').appendTo("body");
                    }
                    else
                    {
                          $("#@(ScriptVersion)LoadingGift").css("display", "none");
                        if (result.message) {
                            alert(result.message);
                            if (result.reload) {
                                location.reload();
                            }
                        }
                        else {
                          alert('اطلاعاتی جهت رهگیری مرسوله شما در دسترس نمی باشد');
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                      $("#@(ScriptVersion)LoadingGift").css("display", "none");
                    alert('خطا در زمان رهگیری مرسولات، لطفا صفحه را رفرش کنید');
                }
            });
        });
    });
    function CloseModal() {
        $.modal.close();
    }
    function createDataView(data) {
        var itemLinke = '';
        var itemDiv = '';
        var countr = 1;
        var active = '';
        $('#@(ScriptVersion)modalBody').html('');
        $(data).each(function () {
            var crItem = this;
            if (countr == 1)
                active = 'show';
            else
                active = '';
            countr++;

            if (crItem.DataCollect) {
                $('#@(ScriptVersion)mDataCollect').html(crItem.DataCollect);
                $('#@(ScriptVersion)mDataCollect').parent().show();
            }
            else
                $('#@(ScriptVersion)mDataCollect').parent().hide();
            if (crItem.ShippedDate) {
                $('#@(ScriptVersion)mShippedDate').html(crItem.ShippedDate);
                $('#@(ScriptVersion)mShippedDate').parent().show();
            }
            else {
                $('#@(ScriptVersion)mShippedDate').parent().hide();
            }
            if (crItem.DeliveryDate) {
                $('#@(ScriptVersion)mDeliveryDate').html(crItem.DeliveryDate);
                $('#@(ScriptVersion)mDeliveryDate').parent().show();
            }
            else
                $('#@(ScriptVersion)mDeliveryDate').parent().hide();
            if (crItem.SenderFullName) {
                $('#@(ScriptVersion)mSenderFullName').html(crItem.SenderFullName);
                $('#@(ScriptVersion)mSenderFullName').parent().show();
            }
            else {
                $('#@(ScriptVersion)mSenderFullName').parent().hide();
            }
            if (crItem.SenderAddress) {
                $('#@(ScriptVersion)mSenderAddress').html(crItem.SenderAddress);
                $('#@(ScriptVersion)mSenderAddress').parent().show();
            }
            else
                $('#@(ScriptVersion)mSenderAddress').parent().hide();
            if (crItem.ReceiverFullName) {
                $('#@(ScriptVersion)mReceiverFullName').html(crItem.ReceiverFullName);
                $('#@(ScriptVersion)mReceiverFullName').parent().show();
            }
            else
                $('#@(ScriptVersion)mReceiverFullName').parent().hide();
            if (crItem.ReceiverAddress) {
                $('#@(ScriptVersion)mReceiverAddress').html(crItem.ReceiverAddress);
                $('#@(ScriptVersion)mReceiverAddress').parent().show();
            }
            else {
                $('#@(ScriptVersion)mReceiverAddress').parent().hide();
            }
            if (crItem.ShipmentWeight) {
                $('#@(ScriptVersion)mShipmentWeight').parent().show();
                $('#@(ScriptVersion)mShipmentWeight').html(crItem.ShipmentWeight);
            }
            else
                $('#@(ScriptVersion)mShipmentWeight').parent().hide();
            if (crItem.TrackingNumber) {
                $('#@(ScriptVersion)mTrackingNumber').html(crItem.TrackingNumber);
                $('#@(ScriptVersion)mTrackingNumber').parent().show();
            }
            else {
                $('#@(ScriptVersion)mTrackingNumber').parent().hide();
            }

            if (crItem.CodCost) {
                $('#@(ScriptVersion)mCodCost').html(crItem.DataCollect);
                $('#@(ScriptVersion)mCodCost').parent().show();
            }
            else
                $('#@(ScriptVersion)mCodCost').parent().hide();

            if (crItem.CodBmValue) {
                $('#@(ScriptVersion)mCodBmValue').html(crItem.DataCollect);
                $('#@(ScriptVersion)mCodBmValue').parent().show();
            }
            else
                $('#@(ScriptVersion)mCodBmValue').parent().hide();

            if (crItem.CreatedOn) {
                $('#@(ScriptVersion)mCreatedOn').html("تاریخ ثبت: " + crItem.CreatedOn);
                $('#@(ScriptVersion)mCreatedOn').parent().show();
            }
            else
                $('#@(ScriptVersion)mCreatedOn').parent().hide();
            if (crItem.NameServiceProvider) {
                $('#@(ScriptVersion)mNameServiceProvider').html(crItem.NameServiceProvider);
                $('#@(ScriptVersion)mNameServiceProvider').parent().show();
            }
            else {
                $('#@(ScriptVersion)mNameServiceProvider').parent().hide();
            }
            if (crItem.mDescription) {
                $('#@(ScriptVersion)mDescription').html(crItem.mDescription);
                $('#@(ScriptVersion)mDescription').parent().show();
            }
            else {
                $('#@(ScriptVersion)mDescription').parent().hide();
            }
            if (crItem.AllState) {
                var trackingResult = JSON.parse(crItem.AllState);

                var masterRow = '';
                var i = 0;
                $.each(trackingResult, function () {
                    var descItems = this.desc.split('،');
                    i++;
                    var innerRow = '';
                    $.each(descItems, function () {
                        var rowItem = this.split(':');
                        innerRow += `<div class="row">
                             <div class="col-lg-12">
                                <span class="lbl2">
                                <span class="fa fa-arrow-circle-left" style="margin-left:5px;">
                                </span>${rowItem[0]}:</span>
                                <span class="lbl3">${rowItem[1]}</span>
                             </div>
                          </div>`;
                    });
                    masterRow += `<div class="row">
                       <div class="col-lg-1">${i}</div>
                       <div class="col-lg-3">${this.date}</div>
                       <div class="col-lg-8">
                         ${innerRow}
                       </div>
                    </div><hr/>`
                });
                var container = `<div class="content">
                    <div class="container">
                   ${masterRow}
                    </div>
                </div>`;
                $('#@(ScriptVersion)mLastSate').html(container);
            }
            else {
                $('#@(ScriptVersion)mLastSate').html(crItem.LastSate);
            }


        });
        $('#@(ScriptVersion)modal_ResultTracking').modal('show', { backdrop: 'static' });
        $('#@(ScriptVersion)modal_ResultTracking').appendTo("body");
    }

    function TrackShipmentbyselectprovider(id)
    {
            var trackingNumber = $('#@(ScriptVersion)RhTrackingNumber').val();
            var orderId = $('#@(ScriptVersion)RhOrderId').val();
            var mobileNo = $('#@(ScriptVersion)RhMobile').val();
        var allinput = '';//$('#@(ScriptVersion)TrackingAllInput').val()
            var data = { 'TrackingAllInput' : allinput,'trackingNumber': trackingNumber, 'orderId': orderId, 'MobileNo': mobileNo,'IdServiceProvider':id}
            $.ajax({
                beforeSend: function () {
                    $('#@(ScriptVersion)modal_ServiceProvider').modal('hide');
                     $("#@(ScriptVersion)LoadingGift").css("display", "block");
                },
                traditional: true,
                type: "POST",
                url: "@(Url.Action("GetTrackingResult", "ShipmentTracking"))",
                data: data,
                success: function (result) {
                    if (result.State == 200) {
                        createDataView(result.data);
                    }
                    else
                    {
                        alert('اطلاعاتی جهت رهگیری مرسوله شما در دسترس نمی باشد');
                    }
                    $("#@(ScriptVersion)LoadingGift").css("display", "none");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                      $("#@(ScriptVersion)LoadingGift").css("display", "none");
                    alert('خطا در زمان رهگیری مرسولات، لطفا صفحه را رفرش کنید');
                }
            });
    }
    </script>

        <div id="@(ScriptVersion)modal_ServiceProvider" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#ffa318;">
                        <div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                        <div> <h5 class="text-center" style="color:white;text-align:center;">کاربر گرامی لطفا سرویس پستی خود را مشخص فرمایید</h5></div>
                        <div></div>
                    </div>
                    <div class="modal-body" style="background-color:whitesmoke">
                        <h6 class="text-center" style="color:#ffa318;">
                            انواع سرویس های پستی
                        </h6>
                        <div class="row">
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(699);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/dts.png" />
                                        <p class="text-center" style="font-weight: bold;">D.T.S</p>
                                    </div>
                                </a>
                            </div>
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(717);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/snap.png" />
                                        <p class="text-center" style="font-weight: bold;">اسنپ</p>
                                    </div>
                                </a>
                            </div>
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(712);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/chapar.png" />
                                        <p class="text-center" style="font-weight: bold;">کالا رسانان چاپار</p>
                                    </div>
                                </a>
                            </div>
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(707);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/pde.png" />
                                        <p class="text-center" style="font-weight: bold;">P.D.E</p>
                                    </div>
                                </a>
                            </div>
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(719);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/bluesky.png" />
                                        <p class="text-center" style="font-weight: bold;">راه آسمان آبی</p>
                                    </div>
                                </a>
                            </div>
                            @*<div class="column">
                                    <a href="#" onClick="TrackShipmentbyselectprovider(716);">
                                        <div>
                                            <img src="~/Themes/Shipito/images/Taroff.jpeg" />
                                            <p class="text-center" style="font-weight: bold;">تعارف</p>
                                        </div>
                                    </a>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(702);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/yarbox.png" />
                                        <p class="text-center" style="font-weight: bold;">یارباکس</p>
                                    </div>
                                </a>
                            </div>
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(701);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/ubaar-logo-rounded.png" />
                                        <p class="text-center" style="font-weight: bold;">اوبار</p>
                                    </div>
                                </a>
                            </div>
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(568);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/iranpost.png" />
                                        <p class="text-center" style="font-weight: bold;">شرکت پست ملی ایران</p>
                                    </div>
                                </a>
                            </div>
                            <div class="column">
                                <a href="#" onClick="TrackShipmentbyselectprovider(711);">
                                    <div>
                                        <img style="max-width: 100%;max-height: 100%;" src="~/Themes/Shipito/images/TPG.jpeg" />
                                        <p class="text-center" style="font-weight: bold;">TPG</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div id="@(ScriptVersion)modal_ResultTracking" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="border-radius: 20px !important;">
                    <div class="text-center" style="background-color:#ffa318;border-top-left-radius: 19px;border-top-right-radius: 19px;padding: 10px;">
                        <h5 class="text-center" style="color:white;text-align:center;">نتیجه رهگیری مرسوله شما</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body ">
                        <div class="col-md-12">
                            <!-- Table  -->
                            <table class="table table-responsive-md mytable" style="font-size:9pt !important">
                                <tbody class="text-right">
                                    <tr>

                                        <th scope="row">کد رهیگری/شماره سفارش/موبایل</th>
                                        <td id="@(ScriptVersion)mTrackingNumber"></td>

                                    </tr>
                                    <tr>

                                        <th scope="row">نام سرویس پستی</th>
                                        <td id="@(ScriptVersion)mNameServiceProvider"></td>

                                    </tr>

                                    <tr>

                                        <th scope="row">هزینه پستی</th>
                                        <td id="@(ScriptVersion)mCodCost"></td>

                                    </tr>

                                    <tr>

                                        <th scope="row">مبلغ خدمات پستی + فنی مهندسی و ارزش افزوده </th>
                                        <td id="@(ScriptVersion)mCodBmValue"></td>

                                    </tr>

                                    <tr>

                                        <th scope="row">نوع مرسوله</th>
                                        <td id="@(ScriptVersion)mShipmentWeight"></td>

                                    </tr>
                                    <tr>

                                        <th scope="row">توضیحات/محتویات مرسوله</th>
                                        <td id="@(ScriptVersion)mDescription"></td>

                                    </tr>
                                    <tr>

                                        <th scope="row">تاریخ جمع آوری</th>
                                        <td id="@(ScriptVersion)mDataCollect"></td>

                                    </tr>

                                    <tr>


                                        <td id="@(ScriptVersion)mLastSate" colspan="2" style="width:100%;font-size: 9pt;"></td>

                                    </tr>
                                    <tr>

                                        <th scope="row">تاریخ ارسال</th>
                                        <td id="@(ScriptVersion)mShippedDate"></td>

                                    </tr>

                                    <tr>

                                        <th scope="row">تاریخ تحویل</th>
                                        <td id="@(ScriptVersion)mDeliveryDate"></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">نام فرستنده</th>
                                        <td id="@(ScriptVersion)mSenderFullName"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">آدرس فرستنده</th>
                                        <td id="@(ScriptVersion)mSenderAddress"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">نام گیرنده</th>
                                        <td id="@(ScriptVersion)mReceiverFullName"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">آدرس گیرنده</th>
                                        <td id="@(ScriptVersion)mReceiverAddress"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="text-center" style="background-color:#6c757d;border-bottom-left-radius:19px;border-bottom-right-radius:19px">
                        <div class="row">
                            <div class="col-md-6">
                                <span id="@(ScriptVersion)"></span>
                            </div>
                            <div class="col-md-6">
                                <span id="@(ScriptVersion)mCreatedOn"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@await Component.InvokeAsync("QuickOrderPrice")*@

</body>

</html>


