@model Nop.Plugin.Misc.Ticket.Models.Search.Search_Ticket
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@using Nop.Web.Framework.UI
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = T("Nop.Plugin.Misc.Ticket.Page_Titel_List_Ticket").Text;
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    Html.AddCssFileParts(ResourceLocation.Footer, "~/Plugins/Misc.Ticket/Scripts/Select2/dist/css/select2.min.css");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.Ticket/Scripts/Select2/dist/js/select2.full.min.js");


}

<script type="text/javascript">

            $(document).ready(function()
         {

                $('#SearchUsername_Staff').select2({

                        width: '100%',
                        placeholder: "جستجو نام کاربری",
                        minimumInputLength: 7,
                        ajax:
                        { // instead of writing the function to execute the request we use Select2's convenient helper
                            url: '@Url.Action("GetCustomerList", "ManageStaffDepartmentTicket")',
                            dataType: 'json',
                            quietMillis: 250,/*, page*/
                            data: function(term) {
                                var data = { 'searchtext': term.term };
                            addAntiForgeryToken(data);
                            return data;
                        },
                            results: function(data) { // parse the results into the format expected by Select2.
                            debugger;                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                            return { results: data };
                        },
                            cache: true
                        },
                        dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                });
                $('#SearchUsername_customer').select2({

                        width: '100%',
                        placeholder: "جستجو نام کاربری",
                        minimumInputLength: 7,
                        ajax:
                        { // instead of writing the function to execute the request we use Select2's convenient helper
                            url: '@Url.Action("GetCustomerList", "ManageStaffDepartmentTicket")',
                            dataType: 'json',
                            quietMillis: 250,/*, page*/
                            data: function(term) {
                                var data = { 'searchtext': term.term };
                            addAntiForgeryToken(data);
                            return data;
                        },
                            results: function(data) { // parse the results into the format expected by Select2.
                            debugger;                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                            return { results: data };
                        },
                            cache: true
                        },
                        dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                });




        });




</script>

<form asp-controller="ManageTicket" asp-action="List" method="post">

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop.Plugin.Misc.Ticket.Titel_List_Ticket")

        </h1>
        <div class="pull-right">


        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchEmail" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchEmail" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchUsername_customer" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchUsername_customer" asp-items="Model.ListUsers" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchFirstName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchFirstName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchLastName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchLastName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchTicketNumber" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchTicketNumber" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchOrderId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchOrderId" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchTrackingCode" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchTrackingCode" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchCustomerRoleIds" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchCustomerRoleIds" asp-items="Model.AvailableCustomerRoles" asp-multiple="true" />
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                var rolesIdsInput =
                                                    $('#@Html.IdFor(model => model.SearchCustomerRoleIds)')
                                                        .data("kendoMultiSelect");
                                                rolesIdsInput.setOptions({
                                                    autoClose: false,
                                                    filter: "contains"
                                                });

                                                @if (Model.AvailableCustomerRoles.Count == 0)
                                                {
                                                    <text>
                                                        rolesIdsInput.setOptions({
                                                            enable: false,
                                                            placeholder:
                                                                '@T("Admin.Catalog.Products.CustomerRoles.NoCustomerRolesAvailable")'
                                                        });
                                                        rolesIdsInput._placeholder();
                                                        rolesIdsInput._enable();
                                                    </text>
                                                }
                                            });
                                        </script>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        از تاریخ
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchTicketDateFrom" />
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchCategoryId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchCategoryId" asp-items="Model.ListcategoryTicket" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchDepartmentId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchDepartmentId" asp-items="Model.ListDepartmentTicket" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchIdStatus" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchIdStatus" asp-items="Model.ListStatus" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchPriorityId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchPriorityId" asp-items="Model.ListPriority" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.ListStores" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchIssue" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchIssue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchUsername_Staff" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchUsername_Staff" asp-items="Model.ListUsers" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchOstanOrginId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchOstanOrginId" asp-items="Model.ListOstanTicket" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        تا تاریخ
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchTicketDateTo" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="Search_Ticket_Isdeleted" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="Search_Ticket_Isdeleted" />
                                    </div>
                                </div>

                                <div class="form-group" style="display:none;">
                                    <div class="col-md-8">
                                        <nop-editor asp-for="ActiveSearch" />
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>

                        <script type="text/javascript">
    $(document).ready(function() {
        $("#customers-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("TicketList", "ManageTicket"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            scrollable: false,
            dataBound: onDataBound,
            columns: [
                 {
                    field: "Grid_Ticket_TicketNumber",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_TicketNumber")",
                    width: 50
                }
                ,
                 {
                    field: "Grid_Ticket_CategoryName",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_CategoryName")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_StoreName",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_StoreName")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_Isuue",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_Isuue")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_FullName",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_FullName")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_DepName",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_DepName")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_PriorityName",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_PriorityName")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_OrderId",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_OrderId")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_TrackingCode",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_TrackingCode")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_Status",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_Status")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_DateInsert",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_DateInsert")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_NameStaffOpen",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_NameStaffOpen")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_DateOpen",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_DateOpen")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_LastDateAnswer",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_LastDateAnswer")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_NameStaffLastAnswer",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_NameStaffLastAnswer")",
                    width: 100
                }
                ,
                {
                    field: "Grid_Ticket_LastRank",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_Ticket_LastRank")",
                    width: 100
                }
                ,
                {
                    field: "Id",
                    title: "@T("Nop.Plugin.Misc.Ticket.Finished")",
                    width: 70,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<button class="btn btn-success"  onclick="FinishedTicket(#=Id#)" type="button"><i class="fa fa-check"></i></button>'

                }
                 ,
                {
                    field: "Id",
                    title: "@T("Nop.Plugin.Misc.Ticket.Disable")",
                    width: 70,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<button class="btn bg-red"  onclick="DisableTicket(#=Id#)" type="button"><i class="fa fa-trash-o"></i></button>'
                }
                 ,
               {
                   field: "Id",
                   title: "@T("Nop.Plugin.Misc.Ticket.AnswerTicket")",
                   width: 70,
                   headerAttributes: { style: "text-align:center" },
                   attributes: { style: "text-align:center" },
                   template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Nop.Plugin.Misc.Ticket.AnswerTicket")</a>'
                }
                                         ,
             {
                 field: "UrlPage",
                 title: "مشاهده سفارش",
                 width: 70,
                 headerAttributes: { style: "text-align:center" },
                 attributes: { style: "text-align:center" },
                 template:"#if(TypeTicket) {#"
                                                + "<a class=\"btn btn-default\" href=\"../Order/Edit/#=UrlPage#\"\"><i class=\"fa fa-pencil\"></i>مشاهده سفارش</a>"
                                                + "#}#"
                     
             }
            ]
        });
    });
                        </script>

                        <script type="text/javascript">
    var selectedIds = [];

    $(document).ready(function() {
        //search button
        $('#search-customers').click(function () {
                $('.ActiveSearch').attr('checked', true).change();
                $('#@Html.IdFor(model => model.ActiveSearch)').attr('checked', true).change();
            var grid = $('#customers-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            //clear selected checkboxes
            $('.checkboxGroups').attr('checked', false).change();
            selectedIds = [];
            return false;
        });



        $('#mastercheckbox').click(function() {
            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
        });

        //wire up checkboxes.
        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function(e) {
            var $check = $(this);
            if ($check.is(":checked") == true) {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked == -1) {
                    //add id to selectedIds.
                    selectedIds.push($check.val());
                }
            } else {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked > -1) {
                    //remove id from selectedIds.
                    selectedIds = $.grep(selectedIds, function(item, index) {
                        return item != $check.val();
                    });
                }
            }
            updateMasterCheckbox();
        });
    });

    function onDataBound(e) {
        $('#customers-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function() {
            var currentId = $(this).val();
            var checked = jQuery.inArray(currentId, selectedIds);
            //set checked based on if current checkbox's value is in selectedIds.
            $(this).attr('checked', checked > -1);
        });

        updateMasterCheckbox();
    }

    function updateMasterCheckbox() {
        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
    }

    function additionalData() {

        var datefrom = $('#@Html.IdFor(model => model.SearchTicketDateFrom)').val();
        var dateto = $('#@Html.IdFor(model => model.SearchTicketDateTo)').val();

        if ($('#@Html.IdFor(model => model.SearchTicketNumber)').val() != '0' && $('#@Html.IdFor(model => model.SearchTicketNumber)').val() != '') {
            datefrom = null;
            dateto = null;
        }
        var data = {
            ActiveSearch: $('#@Html.IdFor(model => model.ActiveSearch)').is(':checked'),
            SearchCustomerRoleIds: $('#@Html.IdFor(model => model.SearchCustomerRoleIds)').val(),
            SearchDepartmentId: $('#@Html.IdFor(model => model.SearchDepartmentId)').val(),
            SearchEmail: $('#@Html.IdFor(model => model.SearchEmail)').val(),
            SearchUsername_customer: $('#@Html.IdFor(model => model.SearchUsername_customer)').val(),
            SearchFirstName: $('#@Html.IdFor(model => model.SearchFirstName)').val(),
            SearchLastName: $('#@Html.IdFor(model => model.SearchLastName)').val(),
            SearchDepartmentId: $('#@Html.IdFor(model => model.SearchDepartmentId)').val(),
            SearchCategoryId: $('#@Html.IdFor(model => model.SearchCategoryId)').val(),
            SearchTicketNumber: $('#@Html.IdFor(model => model.SearchTicketNumber)').val(),
            SearchUsername_Staff: $('#@Html.IdFor(model => model.SearchUsername_Staff)').val(),
            SearchIdStatus: $('#@Html.IdFor(model => model.SearchIdStatus)').val(),
            SearchOrderId: $('#@Html.IdFor(model => model.SearchOrderId)').val(),
            SearchTrackingCode: $('#@Html.IdFor(model => model.SearchTrackingCode)').val(),
            SearchIssue: $('#@Html.IdFor(model => model.SearchIssue)').val(),
            SearchPriorityId: $('#@Html.IdFor(model => model.SearchPriorityId)').val(),
            SearchStoreId: $('#@Html.IdFor(model => model.SearchStoreId)').val(),
            Search_Ticket_Isdeleted: $('#@Html.IdFor(model => model.Search_Ticket_Isdeleted)').is(':checked'),
            SearchOstanOrginId: $('#@Html.IdFor(model => model.SearchOstanOrginId)').val(),
            SearchTicketDateFrom: datefrom,
            SearchTicketDateTo: dateto
        };
        addAntiForgeryToken(data);
        return data;
    }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var selectedIds = [];

        $(document).ready(function () {


            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes.
            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });


    </script>
    <script>
          function DisableTicket(Id)
          {
               var postdata = {
                  Id:Id
              };
              addAntiForgeryToken(postdata);
                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("DisableTicket", "ManageTicket"))",
                                data: postdata,
                             complete: function(data) {
                                 //reload grid
                                 var grid = $('#customers-grid').data('kendoGrid');
                                 grid.dataSource.read();
                             },
                             error: function(xhr, ajaxOptions, thrownError) {
                                 alert(thrownError);
                             },
                             traditional: true
                             });
                             return false;
                        }

                        function FinishedTicket(Id)
                        {
                             var postdata = {
                  Id:Id
              };
              addAntiForgeryToken(postdata);
                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("FinishedTicket", "ManageTicket"))",
                                data: postdata,
                             complete: function(data) {
                                 //reload grid
                                 var grid = $('#customers-grid').data('kendoGrid');
                                 grid.dataSource.read();
                             },
                             error: function(xhr, ajaxOptions, thrownError) {
                                 alert(thrownError);
                             },
                             traditional: true
                             });
                             return false;
                        }



    </script>

</form>