@model Nop.Plugin.Misc.Ticket.Models.Search.Search_RequestCOD
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@using Nop.Web.Framework.UI
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = T("Nop.Plugin.Misc.Ticket.Page_Titel_List_RequestCOD").Text;
    var defaultGridPageSize = 20;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    Html.AddCssFileParts(ResourceLocation.Footer, "~/Plugins/Misc.Ticket/Scripts/Select2/dist/css/select2.min.css");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.Ticket/Scripts/Select2/dist/js/select2.full.min.js");


}

<form asp-controller="ManageDamages" asp-action="List" method="post">

    <div class="content-header clearfix">
        <h1 class="pull-left">
            لیست درخواست های فعال سازی حساب پسکرایه

        </h1>
        <div class="pull-right">


        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                         <div class="row">
                            <div class="col-md-6">
                               
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchUsername_customer" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchUsername_customer" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchFirstName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchFirstName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchLastName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchLastName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchIdStatusRequestCOD" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchIdStatusRequestCOD" asp-items="Model.ListStatus" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchRequestCODNumber" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchRequestCODNumber" />
                                    </div>
                                </div>


                                <div class="form-group" style="display:none;">

                                    <div class="col-md-8">
                                        <nop-editor asp-for="ActiveSearch" />
                                    </div>
                                </div>
                                <div class="form-group" style="display:none;">

                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchId" />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>

                        <script type="text/javascript">
    $(document).ready(function() {
        $("#customers-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("RequestCODList", "ManageRequestCOD"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            scrollable: false,
            dataBound: onDataBound,
            columns: [
                 {
                    field: "Grid_RequestCOD_RequestCODNumber",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_RequestCODNumber")",
                    width: 50
                }
                ,
                {
                    field: "Grid_RequestCOD_StoreName",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_StoreName")",
                    width: 100
                }
                 ,
                {
                    field: "Grid_RequestCOD_RequestCODUserName",
                    title: "نام کاربری",
                    width: 100
                }
                ,
                {
                    field: "Grid_RequestCOD_FullName",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_FullName")",
                    width: 100
                }
                ,
                {
                    field: "Grid_RequestCOD_Status",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_Status")",
                    width: 100
                }
                ,
                {
                    field: "Grid_RequestCOD_DateInsert",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_DateInsert")",
                    width: 100
                }
                ,
                {
                    field: "Grid_RequestCOD_NameStaff",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_NameStaff")",
                    width: 100
                }
                ,
                {
                    field: "Grid_RequestCOD_DateOpen",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_DateOpen")",
                    width: 100
                }
                ,
                {
                    field: "Grid_RequestCOD_LastDateAnswer",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_LastDateAnswer")",
                    width: 100
                }
                ,
                {
                    field: "Grid_RequestCOD_NameStaffLastAnswer",
                    title: "@T("Nop.Plugin.Misc.Ticket.Grid_RequestCOD_NameStaffLastAnswer")",
                    width: 100
                }
                
                 ,
                {
                    field: "Id",
                    title: "@T("Nop.Plugin.Misc.Ticket.AnswerRequestCOD")",
                    width: 70,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Nop.Plugin.Misc.Ticket.AnswerRequestCOD")</a>'
                }
                
            ]
        });
    });
                        </script>

                        <script type="text/javascript">
    var selectedIds = [];

                            $(document).ready(function () {

                                if (@Model.SearchId> 0) {
                                     $('.ActiveSearch').attr('checked', true).change();
                                       $('#@Html.IdFor(model => model.ActiveSearch)').attr('checked', true).change();
                                  var grid = $('#customers-grid').data('kendoGrid');
                                  grid.dataSource.page(1); //new search. Set page size to 1
                                  //grid.dataSource.read(); we already loaded the grid above using "page" function
                                  //clear selected checkboxes
                                  $('.checkboxGroups').attr('checked', false).change();
                                  selectedIds = [];
                                  return false;
                                }
        //search button
        $('#search-customers').click(function () {
                $('.ActiveSearch').attr('checked', true).change();
                $('#@Html.IdFor(model => model.ActiveSearch)').attr('checked', true).change();
            var grid = $('#customers-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            //clear selected checkboxes
            $('.checkboxGroups').attr('checked', false).change();
            selectedIds = [];
            return false;
        });



        $('#mastercheckbox').click(function() {
            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
        });

        //wire up checkboxes.
        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function(e) {
            var $check = $(this);
            if ($check.is(":checked") == true) {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked == -1) {
                    //add id to selectedIds.
                    selectedIds.push($check.val());
                }
            } else {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked > -1) {
                    //remove id from selectedIds.
                    selectedIds = $.grep(selectedIds, function(item, index) {
                        return item != $check.val();
                    });
                }
            }
            updateMasterCheckbox();
        });
    });

    function onDataBound(e) {
        $('#customers-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').each(function() {
            var currentId = $(this).val();
            var checked = jQuery.inArray(currentId, selectedIds);
            //set checked based on if current checkbox's value is in selectedIds.
            $(this).attr('checked', checked > -1);
        });

        updateMasterCheckbox();
    }

    function updateMasterCheckbox() {
        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
    }

    function additionalData() {
        var data = {
            ActiveSearch: $('#@Html.IdFor(model => model.ActiveSearch)').is(':checked'),
            SearchUsername_customer: $('#@Html.IdFor(model => model.SearchUsername_customer)').val(),
            SearchFirstName: $('#@Html.IdFor(model => model.SearchFirstName)').val(),
            SearchLastName: $('#@Html.IdFor(model => model.SearchLastName)').val(),
            SearchIdStatusRequestCOD: $('#@Html.IdFor(model => model.SearchIdStatusRequestCOD)').val(),
            SearchRequestCODNumber: $('#@Html.IdFor(model => model.SearchRequestCODNumber)').val(),
            SearchId: $('#@Html.IdFor(model => model.SearchId)').val(),
        };
        addAntiForgeryToken(data);
        return data;
    }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var selectedIds = [];

        $(document).ready(function () {


            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes.
            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });


    </script>
</form>