@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@using Nop.Web.Framework.UI
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@model Nop.Plugin.Misc.ShippingSolutions.Domain.Tbl_ServicesProviders

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = T("Nop.Plugin.Misc.ShippingSolutions.ServiceProvider_pagetitle").Text;


}

<form asp-controller="ManageServiceProvider" asp-action="Edit" method="post" id="category-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            
            @T("Nop.Plugin.Misc.ShippingSolutions.Provider_Update") - @Model.ServicesProviderName
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Nop.Plugin.Misc.ShippingSolutions.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            @*href="location.href='@Url.Action("EditPricingPolicy", "ManageServiceProvider")?id='+@Model.Id"*@
            @*onclick="location.href='@Url.Action("export2", "ManageServiceProvider")?id='+@Model.Id"*@
            <a id="GoPricingPolicy" href="../EditPricingPolicy/@Model.Id" class="btn bg-purple">
                <i class="fa fa-navicon"></i>
                @T("Nop.Plugin.Misc.ShippingSolutions.Page_Titel_PricingPoliy")
            </a>
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
        @await Html.PartialAsync("/Plugins/Misc.ShippingSolutions/Views/ServiceProviders/_CreateOrUpdate.cshtml", Model)

</form>

