@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<footer>
    <div class="gray-bx footer-pc">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="footer-title">
                        <strong>@T("Footer.Information")</strong>
                    </h4>
                    @if (Model.SitemapEnabled)
                    {
                        <a class="footer-link" target="_blank" href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <a class="footer-link" target="_blank" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a>
                    }
                    @*<a class="footer-link" href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a>*@
                    <a class="footer-link" target="_blank" href="https://mag.postbar.ir/index.php/category/news/">@T("News")</a>
                    <a class="footer-link" target="_blank" href="https://mag.postbar.ir/">@T("Forum.Forums")</a>
                    <a class="footer-link" target="_blank" href="https://mag.postbar.ir/index.php/category/mags/">@T("Blog")</a>
                </div>
                <div class="col-sm-3">
                    <h4 class="footer-title">
                        @T("Footer.CustomerService")
                    </h4>
                    @if (Model.NewsEnabled)
                    {
                        @*<a class="footer-link" href="https://mag.postbar.ir/category/accidents/">@T("News")</a>*@/*@Url.RouteUrl("NewsArchive")*/
                    }
                    @if (Model.BlogEnabled)
                    {
                        @*<a class="footer-link" href="https://mag.postbar.ir/%da%af%d8%b1%d9%88%d9%87-%d9%87%d8%a7/%d9%be%d9%84%d8%a7%da%af%db%8c%d9%86-%d9%88-api-%d9%be%d8%b3%d8%aa-%d8%a8%d8%a7%d8%b1-%d8%aa%d9%88%d8%b3%d8%b9%d9%87-%d8%af%d9%87%d9%86%d8%af%da%af%d8%a7%d9%86/activity/">@T("Blog")</a>*@@*@Url.RouteUrl("Blog")*@
                    }
                    @if (Model.ForumEnabled)
                    {
                        @*<a class="footer-link" href="https://mag.postbar.ir/">@T("Forum.Forums")</a>*@@*@Url.RouteUrl("Boards")*@
                    }
                    @if (Model.RecentlyViewedProductsEnabled)
                    {
                        @*<a class="footer-link" href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a>*@
                    }
                    @if (Model.CompareProductsEnabled)
                    {
                        @*<a class="footer-link" href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a>*@
                    }
                    @if (Model.NewProductsEnabled)
                    {
                        @*<a class="footer-link" href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a>*@
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <a class="footer-link" target="_blank" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a>
                    }
                    <a class="footer-link" target="_blank" href="https://postex.ir/TopicCollection">آکادمی آموزش</a>
                    <a class="footer-link" target="_blank" href="https://postex.ir/Dashboard/FAQ">سوالات متداول</a>
                </div>

                <div class="col-sm-3">
                    <h4 class="footer-title">
                        <strong>@T("Footer.MyAccount")</strong>
                    </h4>
                    @*<a class="footer-link" href="@Url.RouteUrl("Dashboard")">@T("Account.MyAccount")</a>*@
                    @*<a class="footer-link" href="@Url.RouteUrl("Dashboard")">@T("Account.CustomerOrders")</a>
                        <a class="footer-link" href="@Url.RouteUrl("Dashboard")">@T("Account.CustomerAddresses")</a>*@
                    @if (Model.ShoppingCartEnabled)
                    {
                        @*<a class="footer-link" href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a>*@
                    }
                    @if (Model.WishlistEnabled)
                    {
                        @*<a class="footer-link" href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a>*@
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount)
                    {
                        @*<a class="footer-link" href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a>*@
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <a class="footer-link" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a>
                    }
                    <a class="footer-link" target="_blank" href="https://postex.ir/Dashboard">پیشخوان</a>
                    <a class="footer-link" target="_blank" href="https://postex.ir/Dashboard/Orders">لیست سفارشات</a>
                    <a class="footer-link" target="_blank" href="https://postex.ir/Dashboard/CustomerInfo">ویرایش حساب کاربری</a>
                    <a class="footer-link" target="_blank" href="https://postex.ir/Dashboard/Services">خدمات</a>
                    <a class="footer-link" target="_blank" href="#">حسابداری</a>
                    <a class="footer-link" target="_blank" href="https://forms.gle/JoZGUmHPfbeYD8zm7">نظرسنجی</a>
                    <a class="footer-link" target="_blank" href="https://postex.ir/Dashboard/support">تیکت</a>

                </div>
                <div class="col-sm-3">
                    @await Component.InvokeAsync("PostbarNewsletterBox")
                    <div class="btn-row">
                        <a href="https://instagram.com/postex.ir?igshid=1jvlg6on3v53e" class="btn btn-insta" target="_blank">
                            <img src="~/Themes/Shipito/images/footer-insta.png" alt="">
                            <span>
                                اینستاگرام
                            </span>
                        </a>
                        <a href="https://t.me/iranpostex" class="btn btn-tele" target="_blank">
                            <img src="~/Themes/Shipito/images/footer-tele.png" alt="">
                            <span>
                                تلگرام
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-bx footer-phone">
        <p class="text-center">
            <a href="#" class="brands-link">
                امنیتو
            </a>
            را در شبکه های اجتماعی دنبال کنید
        </p>
        <div class="btn-row text-center">
            <a href="https://instagram.com/postex.ir?igshid=1jvlg6on3v53e" class="btn btn-insta" target="_blank">
                <img src="~/Themes/Shipito/images/footer-insta.png" alt="">
                <span>
                    اینستاگرام
                </span>
            </a>
            <a href="https://t.me/iranpostex" class="btn btn-tele" target="_blank">
                <img src="~/Themes/Shipito/images/footer-tele.png" alt="">
                <span>
                    تلگرام
                </span>
            </a>
        </div>
    </div>
    <div class="blue-bx">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p>7 روز هفته ، 24 ساعت شبانه روز پاسخگوی شما هستیم</p>
                </div>
                <div class="col-sm-4">
                    <label style="color:white !important" for="">شماره تماس</label>
                    <a href="tel:+982191300250">021-91300250</a>
                </div>
                <div class="col-sm-4">
                    <label style="color:white !important" for="">آدرس ایمیل</label>
                    <span><a href="mailto:info@postex.ir" style="color:white !important">info@postex.ir</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="light-bx" style="background-color:white;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p class="text-right postbar-desc">
                        <a href="#" class="footer-logo">
                            <img src="~/Themes/PostexNew/images/loginIcon.png" alt="">

                        </a>
                        <label for="">
                            امنیتو :
                        </label>
                        ثبت سفارشات به صورت اینترنتی در خانه یا محل کار
                    </p>
                    <p class="text-righ postbar-desc2">
                        ثبت و تحویل سفارشات در تمامی ابعاد و با هر تعداد در کوتاهترین زمان، حمل کالا با کمترین هزینه با درنظر گرفتن وزن کالا از شرقی ترین استان کشور به غربی ترین استان کشور، ثبت سفارشات شما با هر ابعاد و هر تعداد حمل می گردد
                    </p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="owl-carousel enamad-carousel">
                        <div class="item">
                            <a   href="#">
                                <img src="https://Trustseal.eNamad.ir/logo.aspx?id=142304&amp;Code=6huWn4FCkfHhj47fOW3L" alt="" style="cursor:pointer" id="6huWn4FCkfHhj47fOW3L">
                            </a>
                            @*<div class="enamad-card">
                                    <img src="https://Trustseal.eNamad.ir/logo.aspx?id=142304&amp;Code=6huWn4FCkfHhj47fOW3L" alt="" style="cursor:pointer" id="6huWn4FCkfHhj47fOW3L">
                                </div>*@
                        </div>
                        @*<div class="item">
                                <a>
                                    <div class="enamad-card">
                                        <img src="https://Trustseal.eNamad.ir/logo.aspx?id=142304&amp;Code=6huWn4FCkfHhj47fOW3L" alt="" style="cursor:pointer" id="6huWn4FCkfHhj47fOW3L">
                                    </div>
                                </a>
                            </div>*@
                        @*<div class="item">
                                <a>
                                    <div class="enamad-card">
                                        <img id="jxlzesgtnbqejxlzesgtrgvjsizp" style="cursor:pointer;height:auto;"  alt="logo-samandehi" src="https://logo.samandehi.ir/logo.aspx?id=1021039&p=nbpdlymaodrfnbpdlymaqftibsiy">
                                    </div>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="backToTop">
        <a href="#" id="back-to-top" class="show">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>
    <style>

        #back-to-top {
            bottom: 75px !important;
            right: 1px !important;
        }
        #myBtn {
            position: fixed;
            bottom: 10px;
            z-index: 99;
            font-size: 15px;
            border: none;
            outline: none;
            background-color: #ffa318;
            color: #fff;
            cursor: pointer;
            padding: 16px;
            border-radius: 50%;
        }

            #myBtn:hover {
                background-color: #555;
            }

        @@media only screen and (max-width: 320px) {
            #myBtn {
                right: 81%;
            }
        }

        @@media only screen and (min-width: 375px) {
            #myBtn {
                right: 83%;
            }
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @@media only screen and (min-width: 425px) {
            #myBtn {
                right: 85%;
            }
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @@media only screen and (min-width: 768px) {
            #myBtn {
                right: 91%;
            }
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @@media only screen and (min-width: 1024px) {
            #myBtn {
                right: 93%;
            }
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @@media only screen and (min-width: 1440px) {
            #myBtn {
                right: 95%;
            }
        }

        @@media only screen and (min-width: 2560px) {
            #myBtn {
                right: 97%;
            }
        }
    </style>

    <div class="text-center">
        <button onclick="location.href='@Url.Action("support", "PostbarDashboard")'" id="myBtn" title="ثبت تیکت جدید" style="left:0px !important"> <i class="far fa-edit"></i></button>

    </div>
    <div>
        

        <button onclick="location.href='tel:+982191300250'" id="myBtn" title="تماس تلفنی "> <i class="far fa-edit"></i></button>

    </div>
    <div class="orange-bx liscence">
        <p class="text-center">

            کلیه حقوق این سایت متعلق به
            <a href="https://postex.ir/%D8%AF%D8%B1%D8%A8%D8%A7%D8%B1%D9%87-%D9%85%D8%A7-%D9%BE%D8%B3%D8%AA%DA%A9%D8%B3">
                امنیتو
            </a>
            می باشد
        </p>
    </div>
</footer>
<script>
    $(document).ready(function () {
        //$('#jxlzesgtnbqejxlzesgtrgvjsizp').click(function () {
        //    window.open("https://logo.samandehi.ir/Verify.aspx?id=1021039&p=rfthobpduiwkrfthobpdxlaopfvl", "Popup", "toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30");
        //});
        //$('#6huWn4FCkfHhj47fOW3L').click(function () {
        //    $('#enamd').click();
        //});

    });
</script>