@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@using Nop.Web.Framework.UI
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@model Nop.Plugin.Misc.Ticket.Domain.Tbl_Ticket_Priority

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = T("Nop.Plugin.Misc.Ticket.PriorityTicket_pagetitle").Text;


}

<form asp-controller="ManagePriorityTicket" asp-action="Edit" method="post" id="category-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            
            @T("Nop.Plugin.Misc.Ticket.PriorityTicket_update") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Nop.Plugin.Misc.Ticket.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
           
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
           </div>
    </div>
        @await Html.PartialAsync("/Plugins/Misc.Ticket/Views/PriorityTicket/_CreateOrUpdate.cshtml",Model)

</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="category-delete" />