@model Nop.Plugin.Misc.Ticket.Models.vmDetailDamages
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@using Nop.Web.Framework.UI
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@{
    Layout = "_AdminLayout";
    Html.AddCssFileParts(ResourceLocation.Footer, "~/Plugins/Misc.Ticket/Scripts/Select2/dist/css/select2.min.css");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.Ticket/Scripts/Select2/dist/js/select2.full.min.js");

}

<style>
    .checked {
        color: orange;
    }
</style>
<script>
    function mAddDetailTicket(Id, Description) {
        this.Id = Id;
        this.Description = Description;
    }
    var _mAddDetailTicket = new mAddDetailTicket(0, "");

</script>

<script>
    function ticketReply() {
        var elem = document.getElementById("divnewticket");
        elem.style.display = "block";
        var elem2 = document.getElementById("btnReply");
        elem2.style.display = "none";
    }
</script>

<script>
    function updateInput1(ish) {
        document.getElementById("LabelfileUpload1").innerHTML = ish;
    }
    function updateInput2(ish) {
        document.getElementById("LabelfileUpload2").innerHTML = ish;
    }
    function updateInput3(ish) {
        document.getElementById("LabelfileUpload3").innerHTML = ish;
    }

</script>

<script>
    window.onload = load;
    function load() {
        createCaptcha();

      $.ajax({
            cache: true,
            type: "GET",
            url: "@(Url.Action("GetListPatternAnswer", "ManageDamages"))",
            data: {},
            success: function (data) {
                $('#IdPatternAnswerSelect').append(new Option('انتخاب کنید....', '0', true, true));
                $.each(data, function (id, item) {
                    $('#IdPatternAnswerSelect').append(new Option(item.Text, item.Value, false, false));
                });
                $('#IdPatternAnswerSelect').select2();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log('خطا در دریافت اطلاعات');
            }
        });

    }
</script>

<script>
    $(document).ready(function () {

        $(BtnInsertTicket).click(function () {
            if (document.getElementById("cpatchaTextBox").value != code) {
                alert("کد اشتباه وارد شده است");
                return;
            }

            else {




                _mAddDetailTicket.Id =@Model.Tbl_Damages.Id;
                _mAddDetailTicket.Description = Des.value;

                var _statenewpattern;
                var _Title;
                //if ($('#checkboxnewpatern').is(':checked'))
                //{
                    
                //}
                //else {

                //}
                if (checkboxnewpatern.checked)
                {
                    _statenewpattern = true;
                    _Title = TitleNewPattern.value;
                    if (_Title == "" | _Title == null)
                    {
                         alert("نام /عنوان الگو را وارد نمایید");
                           return;
                    }
                }
                else
                {
                    _statenewpattern = false;
                    _Title = TitleNewPattern.value;
                }


                var postData = {
                    Id: @(Model.Tbl_Damages.Id),
                    Description: Des.value,
                    statenewpattern: _statenewpattern,
                    Title:_Title
                };
                  addAntiForgeryToken(postData);
              

                $(BtnInsertTicket).prop("disabled", true);

                $.ajax({
                    cache: false,
                    url: "@(Url.Action("AddDetailDamages", "ManageDamages"))",
                    data: postData,
                    type: "POST",
                    success: function (data) {

                        alert("با موفقیت ثبت شد");
                        $(BtnInsertTicket).prop("disabled", false);
                        location.reload();
                    },
                    error: function (data) {


                        if (data.status == 532) {
                            alert("حجم فایل ها بیش از 3 مگ میباشد");
                            return;
                        }
                        $(BtnInsertTicket).prop("disabled", false);

                    }
                });


            }



        });
        $('#IdPatternAnswerSelect').change(function ()
        {
            var Id = IdPatternAnswerSelect.value;
             var postData = {
                    id: Id
                };
             $.ajax({
            cache: true,
            type: "Post",
            url:"@(Url.Action("GetDescriptionAnswer", "ManageDamages"))",
            data: postData,
            success: function (data) {
                if (data.state == 0)
                {
                    var t = Des.value;
                    Des.value=(t+"\n"+data.Description)
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log('خطا در دریافت اطلاعات');
            }
        });
        });

       
//        $('#checkboxnewpatern').change(function () {
//            console.log('ddd');
//            if (this.checked) {

//                 var elem = document.getElementById("divTitleNewPattern");
//                  elem.style.display = "block";
               
//            }
//            else
//            {   var elem2 = document.getElementById("divTitleNewPattern");
//                elem2.style.display = "none";

//            }
//});
    });
</script>

<script>

    function createCaptcha() {
        //clear the contents of captcha div first
        document.getElementById('captcha').innerHTML = "";
        var charsArray =
            "0123456789";/*abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ*/
        var lengthOtp = 6;
        var captcha = [];
        for (var i = 0; i < lengthOtp; i++) {
            //below code will not allow Repetition of Characters
            var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
            if (captcha.indexOf(charsArray[index]) == -1)
                captcha.push(charsArray[index]);
            else i--;
        }
        var canv = document.createElement("canvas");
        canv.id = "captcha";
        canv.width = 150;
        canv.height = 50;
        var ctx = canv.getContext("2d");
        ctx.font = "25px Georgia";
        ctx.strokeText(captcha.join(""), 0, 30);
        //storing captcha so that can validate you can save it somewhere else according to your specific requirements
        code = captcha.join("");
        document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }

</script>
<script>
     function selectcheckboxpattern(element)
        {
            if (element.checked) {
                $('#divTitleNewPattern').show();
            }
            else {
                $('#divTitleNewPattern').hide();
            }
        }
</script>
@*show file*@
<script>
    function ShowFile(data) {

        form_showfile.action = "/ManageDamages/ReadFilePdf";
        id_urlfil.value = data;
        form_showfile.submit();
    }


    function ShowImageQCA(data) {
        window.open("/DamagesFiles/" + data, "", "width=500,height=500");
    }
</script>


<div class="content">

    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-body">



                <div class="row justify-content-md-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="header-dash text-center">
                            <h1> جزئیات درخواست خسارت # شماره @Model.Tbl_Damages.Id </h1>
                        </div>
                        <div class=" row justify-content-md-center mt-1 text-blue">
                            <div class="col-md-12 col-lg-12 col-xl-12 text-center">
                                <div class="tabbable ltr">
                                    <div class="col-sm-12 mt-2 alert alert-warning text-center">
                                        آخرین وضعیت : @Model.Status
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="body-dash send-data-from" style="overflow: auto;">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: right;
    font-weight: bold;
    font-size: 1.1em; margin: 10px 0 20px 0;
    padding: 5px;
    background-color: #E8E8E8;border-radius: 6px;
    display: flex;
    flex-flow: row wrap;">
                                <div class="col-sm-3">
                                    <div style="padding: 5px; ">
                                        تاریخ ثبت درخواست
                                        <div style="background-color:white; border-radius:5px;"> @Model.Tbl_Damages.DateInsert</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div style="padding: 5px;">
                                        کد پیگیری
                                        <div style="background-color:white; border-radius:5px;text-align:center;">
                                            @Model.Tbl_Damages.TrackingCode
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div style="padding: 5px;">
                                        نام کالا
                                        <div style="background-color:white; border-radius:5px; text-align:center;">@Model.Tbl_Damages.NameGoods</div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div style="padding: 5px;">
                                        برندکالا
                                        <div style="background-color:white; border-radius:5px;text-align:center;"> @Model.Tbl_Damages.Berand</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div style="padding: 5px;">
                                        قیمت خرید
                                        <div style="background-color:white; border-radius:5px;text-align:center;"> @Model.Tbl_Damages.Price</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div style="padding: 5px;">
                                        نوع کالا
                                        <div style="background-color:white; border-radius:5px;text-align:center;"> @Model.TypeGoods</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div style="padding: 5px;">
                                        شماره شبا
                                        <div style="background-color:white; border-radius:5px; text-align:center;">
                                            @Model.Tbl_Damages.Shaba
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"> </div>
                            </div>


                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                @foreach (var item in Model.vmDamages_Detail)
                                {
                                    if (item.List_Detail.Type == true)
                                    {
                                        //staffکارمند
                                        <div style="
    padding: 5px 10px;
    background-color: #666;
    color: #fff;
    font-weight: bold;border-radius: 6px;">
                                            <div style="float:left; text-align:left;">
                                                @item.List_Detail.DateInsert
                                            </div>
                                            <div style="text-align:right;">
                                                نام کارمند... ||
                                                @item.NameStaff
                                            </div>

                                        </div>
                                        <div style="border-left:1px;border-right:1px;border-top:0px;border-bottom:0px; border-style:ridge;border-color:darkgray;border-bottom-left-radius:6px;border-bottom-right-radius:6px; text-align:right">

                                            <p style="padding:5px 10px;">
                                                <br>
                                                @item.List_Detail.Description
                                                <br>
                                                <hr>
                                            </p>

                                            <div class="row col-12">
                                                <div class="col-sm-10" style="float:right;">
                                                </div>
                                                <div class="col-sm-2 btn-group" style="float:left" role="group" aria-label="Basic example">
                                                    @if (item.List_Detail.UrlFile1 != null)
                                                    {
                                                        if (item.List_Detail.UrlFile1.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFile1')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                    @if (item.List_Detail.UrlFile2 != null)
                                                    {
                                                        if (item.List_Detail.UrlFile2.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFile2')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                    @if (item.List_Detail.UrlFile3 != null)
                                                    {
                                                        if (item.List_Detail.UrlFile3.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFile3')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                    @if (item.List_Detail.UrlFile4 != null)
                                                    {
                                                        if (item.List_Detail.UrlFile4.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFile4')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                    @if (item.List_Detail.UrlFileCardMeli != null)
                                                    {
                                                        if (item.List_Detail.UrlFileCardMeli.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFileCardMeli')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        //مشتری
                                        <div style="padding: 5px 10px; background-color: #C0C0C0;color: #fff;font-weight: bold;text-align: right;border-radius: 6px;">
                                            <div style="float:left;text-align:left;">
                                                @item.List_Detail.DateInsert
                                            </div>
                                            <div style="text-align:right;">

                                                @Model.NameCustomer
                                            </div>
                                        </div>
                                        <div style="text-align:right; border-left:1px;border-right:1px;border-top:0px;border-bottom:0px;border-style:ridge;border-color:darkgray;border-bottom-left-radius:6px;border-bottom-right-radius:6px;">
                                            <p style="padding:5px 10px;">
                                                <br />
                                                @item.List_Detail.Description
                                            </p>
                                            <hr>
                                            <div class="row col-12">
                                                <div class="col-sm-10" style="float:right;">
                                                    <p> </p>@*IP Address: 0.0.0.0*@
                                                </div>
                                                <div class="col-sm-2 btn-group" style="float:left" role="group">
                                                    @if (item.List_Detail.UrlFile1 != null)
                                                    {
                                                        if (item.List_Detail.UrlFile1.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFile1')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                    @if (item.List_Detail.UrlFile2 != null)
                                                    {
                                                        if (item.List_Detail.UrlFile2.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFile2')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                    @if (item.List_Detail.UrlFile3 != null)
                                                    {
                                                        if (item.List_Detail.UrlFile3.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFile3')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                    @if (item.List_Detail.UrlFile4 != null)
                                                    {
                                                        if (item.List_Detail.UrlFile4.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFile4')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                    @if (item.List_Detail.UrlFileCardMeli != null)
                                                    {
                                                        if (item.List_Detail.UrlFileCardMeli.Contains(".jpg"))
                                                        {
                                                            <button style="background-color:#007bff;" type="button" onclick="ShowImageQCA('@item.List_Detail.UrlFileCardMeli')"> <i class="fa fa-image" aria-hidden="true" style="color:white;"></i> </button>

                                                        }

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>


                            <div class="divnewticket col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="display:none" id="divnewticket">
                                <h5>پاسخ به درخواست</h5>
                                <hr />
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <span>انتخاب الگوهای پاسخ</span>
                                    <select tabindex="1" style="width:80%;" data-placeholder="انتخاب کنید" class="form-control required" id="IdPatternAnswerSelect" name="IdPatternAnswerSelect"></select>

                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label>پاسخ :</label>
                                        @*<div id="summernote"></div>*@
                                        <textarea id="Des" tabindex="2" rows="5" maxlength="2000" class="form-control" placeholder="توضیحات را وارد نمایید"></textarea>
                                        <!-- <nop-editor id="Des" asp-template="RichEditor" /> -->
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                    <input type="checkbox" id="checkboxnewpatern" name="checkboxnewpatern" value="ذخیره پاسخ به عنوان الگوی جدید" onchange="selectcheckboxpattern(this)">
                                    <span>ذخیره پاسخ به عنوان الگوی جدید</span>


                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="display:none" id="divTitleNewPattern">
                                    <input style="width:100%;" type="text" id="TitleNewPattern" placeholder="عنوان الگو را وارد نمایید" />
                                </div>
                                <div class="row col-12" style="display:none;">
                                    @*1*@
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">

                                        <label class="btn bg-success">
                                            <span>پیوست یک</span>
                                            <i class="fa fa-upload" onclick="return file1.click()"></i>
                                            <input type="file" name="files" id="file1" accept=".jpg,.pdf" style="display:none;" onchange="updateInput1(this.value)" />
                                        </label>
                                        <label class="control-label" id="LabelfileUpload1" style="font-size:10px; text-align:center;direction:ltr;"></label>
                                    </div>
                                    @*2*@
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">

                                        <label class="btn bg-success">
                                            <span>پیوست دو</span>
                                            <i class="fa fa-upload" id="btnUplodeFile2" name="btnUplodeFile2"></i>
                                            @*<input type="file" name="fileUpload2" id="fileUpload2" class="none" size="1" accept=".jpg,.pdf" />*@
                                            <input type="file" name="files" id="file2" accept=".jpg,.pdf" style="display:none;" onchange="updateInput2(this.value)" />
                                        </label>
                                        <label class="control-label" id="LabelfileUpload2" name="LabelfileUpload2" style="font-size:10px; text-align:center;direction:ltr;"></label>
                                    </div>
                                    @*3*@
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">

                                        <label class="btn bg-success">
                                            <span>پیوست سه</span>
                                            <i class="fa fa-upload"></i>
                                            @*<input type="file" name="fileUpload3" id="fileUpload3" class="none" size="1" accept=".jpg,.pdf" />*@
                                            <input type="file" name="files" id="file3" accept=".jpg,.pdf" style="display:none;" onchange="updateInput3(this.value)" />
                                        </label>
                                        <label class="control-label" id="LabelfileUpload3" style="font-size:10px; text-align:center;direction:ltr;"></label>
                                    </div>
                                </div>

                                
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div id="captcha">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="حروف را وارد نمایید" id="cpatchaTextBox" tabindex="4" maxlength="10" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-9 col-xl-9 text-center">
                                        <div class="form-group">
                                            <button id="BtnInsertTicket" tabindex="5" class="btn bg-success">
                                                ثبت
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            <div class="row col-sm-2 text-center float-right" style="padding: 5px 10px;">
                                @if (Model.Tbl_Damages.Status < 3)
                                {
                                    <input class="btn bg-blue" type="submit" onclick="return ticketReply();" name="save" value="پاسخ" id="btnReply">

                                }
                                else
                                {
                                    <input class="btn bg-blue" type="submit" onclick="return ticketReply();" name="save" value="پاسخ" id="btnReply" disabled>

                                }
                                <input class="btn bg-red" onclick="window.location= '/admin/ManageDamages'" type="reset" value="« برگشت">
                            </div>

                            </div>

                    </div>
                </div>








            </div>
        </div>

    </div>

</div>
<form id="form_showfile" target="_blank" method="post" style="display:none">
    <input name="url" id="id_urlfil">
</form>
<style>


    .divnewticket {
        background-color: white;
    }


        .divnewticket:hover {
            border: 1px solid #ffa318;
            border-radius: 10px 10px;
            background-color: whitesmoke;
            box-shadow: 2px 2px whitesmoke;
        }
</style>