@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@model Nop.Plugin.Orders.MultiShipping.Models.vm_Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@{
    Layout = "~/Plugins/Orders.MultiShipping/Views/Shared/Shipito/_PubllicNewUiLayout.cshtml";
}
@await Component.InvokeAsync("WidgetsShipmentTracking", new { widgetZone = "HomePage" })




<div class="submit-order-alireza">

    <div class="order text-center content-submit-order-alireza" style="flex: 1;">
        <div class="title-logo-submit-order-alireza">
            <h2>پست داخلی</h2>
            <img class="my-image-submit-order-alireza" src="~/Themes/shipito/images/dakheli.png" />
        </div>

        <a href="@(Url.RouteUrl("_Sh_Checkout"))" class="btn custom-btn-02 faa-parent animated-hover">
            <i class="fas fa fa-bell faa-ring"></i>
            <span class="cp">
                ثبت سفارش
            </span>
        </a>
    </div>

    <div class="order text-center content-submit-order-alireza" style="flex: 1;">
        <div class="title-logo-submit-order-alireza">
            <h2>
                پست خارجی
            </h2>
            <img class="my-image-submit-order-alireza" src="~/Themes/shipito/images/khareji.png" />
        </div>

        <a href="@(Url.RouteUrl("_Sh_Checkout")+"?pa=f")" class="btn custom-btn-02 faa-parent animated-hover">
            <i class="fas fa fa-bell faa-ring"></i>
            <span class="cp">
                ثبت سفارش
            </span>
        </a>
    </div>

    <div class="order text-center content-submit-order-alireza" style="flex: 1;">

        <div class="title-logo-submit-order-alireza">
            <h2>
                حمل و نقل سنگین
            </h2>
            <img class="my-image-submit-order-alireza" src="~/Themes/shipito/images/sangin.png" />
        </div>
        <a href="@(Url.RouteUrl("_Sh_Checkout")+"?pa=h")" class="btn custom-btn-02 faa-parent animated-hover">
            <i class="fas fa fa-bell faa-ring"></i>
            <span class="cp">
                ثبت سفارش
            </span>
        </a>
    </div>
    <div class="order text-center content-submit-order-alireza" style="flex: 1;">
        <div class="title-logo-submit-order-alireza">
            <h2>کارتن و لفاف پستی</h2>
            <img class="my-image-submit-order-alireza" style="width:124px" src="~/Themes/shipito/images/_karton.png" />
        </div>
        <a href="@(Url.RouteUrl("SaleCartonwrapper"))" class="btn custom-btn-02 faa-parent animated-hover">
            <i class="fas fa fa-bell faa-ring"></i>
            <span class="cp">
                خرید
            </span>
        </a>
    </div>
    <div class="order text-center content-submit-order-alireza" style="flex: 1;">
        <div class="title-logo-submit-order-alireza">
            <h2>ثبت نام COD  و پس کرایه</h2>
            <img class="my-image-submit-order-alireza" style="width:124px" src="~/Themes/shipito/images/_COD.png" />
        </div>
        <a href="/Dashboard/RequestCOD" class="btn custom-btn-02 faa-parent animated-hover">
            <i class="fas fa fa-bell faa-ring"></i>
            <span class="cp">
                شروع ثبت نام
            </span>
        </a>
    </div>
</div>
<div class="services text-center">
    <h2>
        خدمات پستی
    </h2>
    <div class="services-card-width">
        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-8 col-lg-8">
                <div class="owl-carousel carousel-normal">
                    @if (Model.vmServiceProvider_Index.List_Provider.Count > 0)
                    {
                        foreach (var item in Model.vmServiceProvider_Index.List_Provider)
                        {
                            
                            <div class="item">
                                <a target="_blank" href="@item.PageDiscription_Url">
                                    <div class="services-card">
                                        <img src="@item.Image_Url" />
                                        <p class="services-title" style="font-weight: bold;">@item.Title</p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                   

                </div>
            </div>
            <div class="col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>

<div class="agency text-center">
    <h2>
        شرایط اخذ نمایندگی امنیتو
    </h2>

    <a href="http://postex.ir/%D9%88%D8%B8%D8%A7%DB%8C%D9%81-%D9%85%D8%AF%D8%A7%DA%A9-%D9%88-%D8%B4%D8%B1%D8%A7%DB%8C%D8%B7-%D9%86%D9%85%D8%A7%DB%8C%D9%86%D8%AF%DA%AF%DB%8C-%DA%86%DB%8C%D8%B3%D8%AA" target="_blank" class="btn custom-btn-03 faa-parent animated-hover">
        <i class="fa fa-users faa-flash" aria-hidden="true"></i>
        کلیک کنید
    </a>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        @{int ii = 0; }
        @if (Model.vmSlidShow_Index.List_SlideShow.Count > 0)
        {
            foreach (var item in Model.vmSlidShow_Index.List_SlideShow)
            {

                if (ii == 0)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@ii" class="active"></li>
                }
                else
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@ii"></li>
                }
                ii++;
            }
        }


    </ul>
    <div class="carousel-inner">
        @*<div class="carousel-item active">
                <img class="d-block w-100" src="..." alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div>
            </div>*@
        @{int i = 0; }
        @if (Model.vmSlidShow_Index.List_SlideShow.Count > 0)
        {

            foreach (var item in Model.vmSlidShow_Index.List_SlideShow)
            {
                i++;
                if (i == 1)
                {
                    if (!item.IsVideo)
                    {
                        <div class="carousel-item active" data-interval="@item.TimeInterval">
                            <img class="d-block w-100" src="@item.UrlImage" alt="">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.Title</h5>
                                <p>@item.Discription</p>
                                @if (@item.UrlPage != "#")
                                {
                                    <a href="@item.UrlPage" target="_blank"> بیشتر </a>
                                }

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item active" data-interval="@item.TimeInterval">
                            @*<div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="@item.UrlPage" allowfullscreen></iframe>
                                </div>*@
                                <div class="videoPlayer embed-responsive embed-responsive-16by9">
                                <video class="videoPlayer_video">
                                    <source src="@item.UrlPage" type="video/mp4" />
                                </video>
                                <div class="videoPlayer_cover" style="background-image:url('@item.UrlImage')">
                                    <p>
                                        <span class="fa fa-play fa-3x"></span>
                                    </p>
                                    <p>
                                        کلیک کنید
                                    </p>
                                </div>
                                <div class="videoPlayer_buttons">
                                    <ul>
                                        <li data-button="play" class="fa fa-play fa-lg"></li>
                                        <li data-button="current">0:0</li>
                                        @*@item.Duration*@
                                        <li data-button="timeline" class="timeline">
                                            <div class="timeline-loaded">
                                                <div class="timeline-current"></div>
                                            </div>
                                        </li>
                                        <li data-button="duration">01:00</li>
                                        <li data-button="mute" class="fa fa-volume-up fa-lg"></li>
                                        <li data-button="fullscreen" class="fa fa-expand fa-lg"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                }
                else
                {
                    if (!item.IsVideo)
                    {
                        <div class="carousel-item" data-interval="@item.TimeInterval">
                            <img class="d-block w-100" src="@item.UrlImage" alt="">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.Title</h5>
                                <p>@item.Discription</p>
                                @if (@item.UrlPage != "#")
                                {
                                    <a href="@item.UrlPage" target="_blank"> بیشتر </a>
                                }

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item" data-interval="@item.TimeInterval">
                            @*<div class="embed-responsive embed-responsive-16by9"  data-interval="@item.TimeInterval">
                                    <iframe class="embed-responsive-item" src="@item.UrlPage" allowfullscreen></iframe>
                                </div>*@
                            <div class="videoPlayer embed-responsive embed-responsive-16by9">
                                <video class="videoPlayer_video" >
                                    <source src="@item.UrlPage" type="video/mp4" />
                                </video>
                                <div class="videoPlayer_cover" style="background-image:url('@item.UrlImage')">
                                    <p>
                                        <span class="fa fa-play fa-3x"></span>
                                    </p>
                                    <p>
                                        کلیک کنید
                                    </p>
                                </div>
                                <div class="videoPlayer_buttons">
                                    <ul>
                                        <li data-button="play" class="fa fa-play fa-lg"></li>
                                        <li data-button="current">0:0</li>
                                        <li data-button="timeline" class="timeline">
                                            <div class="timeline-loaded">
                                                <div class="timeline-current"></div>
                                            </div>
                                        </li>
                                        <li data-button="duration">01:00</li>
                                        <li data-button="mute" class="fa fa-volume-up fa-lg"></li>
                                        <li data-button="fullscreen" class="fa fa-expand fa-lg"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                }

            }
        }

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="blog text-center">
    <div class="row">
        <div class="col-md-12">
            <h2>
                آخرین اخبار
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-8 col-lg-8">
            <div class="blog-width">
                <div class="owl-carousel carousel-blog">

                    @foreach (var item in Model.List_Item_RSS)
                    {
                        if (item.Title != "آموزش های کاربردی عمومی"||
                            item.Title != "آموزش های کاربردی سازمانی"||
                            item.Title != "شیوه نامه ها و موارد آموزشی بخش امور نمایندگان"||
                            item.Title != "شیوه نامه ها و موارد آموزشی بخش کنترل کیفیت"||
                            item.Title != "شیوه نامه ها و موارد آموزشی مسئول دفتر و امور اداری"||
                            item.Title != "شیوه نامه ها و موارد آموزشی عمومی"||
                            item.Title != "شیوه نامه ها و موارد آموزشی بخش IT"||
                            item.Title != "مستندات و آموزش های مربوط به مدیریت عامل"
                            )
                        {
                            <div class="item">
                                <a href="@item.Link" target="_blank">
                                    <div class="blog-card">
                                        <img src="@item.Source" alt="">
                                        <h3>@item.Title</h3>
                                        @*<p>@item.Description</p>
                                          <p>@item.PubDate</p>*@
                                    </div>
                                </a>
                            </div>
                        }

                    }

                </div>
            </div>
            <a href="#" class="btn custom-btn-01 blog-btn mr-b-30">
                <i class="fal fa-caret-right"></i>
                <span class="cp">
                    مشاهده عناوین بیشتر
                </span>
            </a>
        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>


</div>

<div class="download-app-phone orange-bx">
    <h4>
        دریافت اپلیکیشن امنیتو برای نسخه
        Android
        و
        IOS
    </h4>
    <a href="#" class="btn cafe-bazar">
        <img src="~/Themes/Shipito/images/cafe-bazar-img.png" alt="">
    </a>
    <a href="#" class="btn sib-app">
        <img src="~/Themes/Shipito/images/sib-app-img.png" alt="">
    </a>
</div>

<div class="download-app">
    <div class="phone-image">
        <a href="#" class=" cafe-bazar">
            <img src="~/Themes/Shipito/images/cafe-bazar-img.png" alt="">
        </a>
        <a href="#" class="sib-app">
            <img src="~/Themes/Shipito/images/sib-app-img.png" alt="">
        </a>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('body').addClass('blocker-modal');
    });
</script>




<script>
    //get mouse parent position
    function getPositionData(el) {
        var xPosition = 0;
        var yPosition = 0;
        while (el) {
            if (el.tagName == "BODY") {
                // deal with browser quirks with body/window/document and page scroll
                var xScrollPos = el.scrollLeft || document.documentElement.scrollLeft;
                var yScrollPos = el.scrollTop || document.documentElement.scrollTop;

                xPosition += (el.offsetLeft - xScrollPos + el.clientLeft);
                yPosition += (el.offsetTop - yScrollPos + el.clientTop);
            } else {
                xPosition += (el.offsetLeft - el.scrollLeft + el.clientLeft);
                yPosition += (el.offsetTop - el.scrollTop + el.clientTop);
            }

            el = el.offsetParent;
        }
        return {
            x: xPosition,
            y: yPosition
        };
    }
    //video player class
    function videoPlayer() {
        //the parent element
        videoPlayer.prototype.elem = null;
        //the video tag element
        videoPlayer.prototype.video = null;
        //the src of video
        videoPlayer.prototype.file = null;
        //video player cover
        videoPlayer.prototype.cover = null;
        //video player buttons
        videoPlayer.prototype.play_btn = null;
        videoPlayer.prototype.tex_current = null;
        videoPlayer.prototype.timeline_btn = null;
        videoPlayer.prototype.text_duration = null;
        videoPlayer.prototype.mute_btn = null;
        videoPlayer.prototype.expand_btn = null;

        //starts the video player
        this.init = function (elem) {
            //add new function to window for element event listener
            window.listenElem = function (event, obj, func) {
                obj.addEventListener(event, func, false);
            }
            //add new function to window for elements event listener
            window.listenElems = function (event, objs, func) {
                var len = objs.length;
                for (var i = 0; i < len; i++) {
                    objs[i].addEventListener(event, func, false);
                }
            }

            //set parent elem for video player
            videoPlayer.elem = elem;
            //set video cover
            videoPlayer.cover = elem.getElementsByClassName("videoPlayer_cover")[0];
            //set video elem
            videoPlayer.video = elem.getElementsByClassName("videoPlayer_video")[0];
            videoPlayer.file = videoPlayer.video.src;
            var videoPlayer_buttons = elem.querySelectorAll(".videoPlayer_buttons ul li");
            //find buttons and put them into vars
            for (var i = 0; i < videoPlayer_buttons.length; i++) {
                switch (videoPlayer_buttons[i].getAttribute("data-button")) {
                    case "play":
                        videoPlayer.play_btn = videoPlayer_buttons[i];
                        break;
                    case "current":
                        videoPlayer.text_current = videoPlayer_buttons[i];
                        break;
                    case "timeline":
                        videoPlayer.timeline_btn = videoPlayer_buttons[i];
                        break;
                    case "duration":
                        videoPlayer.text_duration = videoPlayer_buttons[i];
                        break;
                    case "mute":
                        videoPlayer.mute_btn = videoPlayer_buttons[i];
                        break;
                    case "fullscreen":
                        videoPlayer.expand_btn = videoPlayer_buttons[i];
                        break;
                    default:
                        console.warn("a btn is not valid");
                        break;
                }
            }

            /***
            add some event listeners for controling every thing:
            ***/

            //add event listener for video cover
            window.listenElem("click", videoPlayer.cover, this.videoCoverClicked);

            //add event listener for play button on first page
            window.listenElems("click", videoPlayer_buttons, this.buttonsClicked);

            //add event for updating time label when music is playing
            window.listenElem("timeupdate", videoPlayer.video, this.updatePlayerTime);

            //add event listener for player when music had been ended
            window.listenElem("ended", videoPlayer.video, this.endPlayerTime);

            //add event listener for player when music had been paused
            window.listenElem("play", videoPlayer.video, this.playedPlayer);

            //add event listener for player when music had been played
            window.listenElem("pause", videoPlayer.video, this.pausedPlayer);

            //add event listener for progressing
            window.listenElem("progress", videoPlayer.video, this.progressPlayer);

            //add event listener for loading meta data
            window.listenElem("loadedmetadata", videoPlayer.video, this.progressPlayer);

            //add event listener for volume change

            window.listenElem("volumechange", videoPlayer.video, this.volumechange);

            //add event listener for error on music player
            window.listenElem("error", videoPlayer.video, this.errorPlayer);
        }

        /*functions for control actions*/

        this.videoCoverClicked = function (event) {
            //alert('1');
            event.currentTarget.style.display = "none";
            if (videoPlayer.video === undefined || typeof videoPlayer.video === null) {
                console.warn("cant find video tag with class='videoPlayer_video'");
            } else {
                videoPlayer.video.play();
            }
            event.preventDefault();
            return false;
        };

        this.buttonsClicked = function (event) {

            switch (event.currentTarget.getAttribute("data-button")) {
                case "play":
                    //console.log("play");
                    if (videoPlayer.video.paused) {
                        if (videoPlayer.video.duration > 0) {
                            videoPlayer.video.play();
                        } else {
                            videoPlayer.play(videoPlayer.file);
                        }
                    } else {
                        if (videoPlayer.video.duration > 0) {
                            videoPlayer.video.pause();
                        } else {
                            videoPlayer.play(videoPlayer.file);
                        }
                    }
                    break;
                case "timeline":
                    //alert('کاربر گرامی شما نمیتوانید ویدئو را به جلو ببرید');
                     if(videoPlayer.video.duration>0){
                     	var parentPosition=getPositionData(event.currentTarget);
                     	var mousex = event.clientX - parentPosition.x;
                     	var timelineWidth=parseFloat(videoPlayer.timeline_btn.offsetWidth);
                     	var newCurrentTime=(parseFloat(mousex)*parseFloat(videoPlayer.video.duration))/parseFloat(timelineWidth);
                     	console.log(mousex+"/"+timelineWidth);
                     	videoPlayer.video.currentTime=newCurrentTime;
                     }
                     ;
                    break;
                case "mute":
                    //console.log('volume');
                    if (videoPlayer.video.muted === false) {
                        videoPlayer.video.muted = true;
                        event.currentTarget.className = "fa fa-volume-off fa-lg";
                    } else {
                        videoPlayer.video.muted = false;
                        event.currentTarget.className = "fa fa-volume-up fa-lg";
                    }
                    break;
                case "fullscreen":
                    if (!document.fullscreenElement && !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement) {
                        event.currentTarget.className = "fa fa-compress fa-lg";
                        if (videoPlayer.elem.requestFullscreen) {
                            videoPlayer.elem.requestFullscreen();
                        } else if (videoPlayer.elem.msRequestFullscreen) {
                            videoPlayer.elem.msRequestFullscreen();
                        } else if (videoPlayer.elem.mozRequestFullScreen) {
                            videoPlayer.elem.mozRequestFullScreen();
                        } else if (videoPlayer.elem.webkitRequestFullscreen) {
                            videoPlayer.elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                        } else {
                            event.currentTarget.className = "fa fa-expand fa-lg";
                            alert('مرورگر شما قابلیت تمام صفحه شدن ویدئو را پشتیبانی نمیکند');
                        }
                    } else {
                        if (document.exitFullscreen) {
                            document.exitFullscreen();
                        } else if (document.msExitFullscreen) {
                            document.msExitFullscreen();
                        } else if (document.mozCancelFullScreen) {
                            document.mozCancelFullScreen();
                        } else if (document.webkitExitFullscreen) {
                            document.webkitExitFullscreen();
                        }
                        event.currentTarget.className = "fa fa-expand fa-lg";
                    }
                    break;
                default:
                    console.warn("the button you have clicked is not valid");
                    break;
            }
        }

        this.updatePlayerTime = function (event) {

            var minutes = Math.floor(parseInt(this.currentTime) / 60);
            var seconds = parseInt(this.currentTime) - (minutes * 60);
            var show = (minutes < 10 ? '0' + minutes : minutes) + ':' + (seconds < 10 ? '0' + seconds : seconds);
            if (isNaN(this.currentTime)) { show = "00:00"; }
            videoPlayer.text_current.innerHTML = show;
            minutes = Math.floor(parseInt(this.duration) / 60);
            seconds = parseInt(this.duration) - (minutes * 60);
            show = (minutes < 10 ? '0' + minutes : minutes) + ':' + (seconds < 10 ? '0' + seconds : seconds);
            if (!isNaN(this.duration)) {
                videoPlayer.text_duration.innerHTML = show;
            }
            //timeline move:
            var timeline = videoPlayer.timeline_btn;
            var timelineWidth = parseFloat(timeline.offsetWidth);
            // var playedPercent=parseInt(parseFloat(this.currentTime*100)/parseFloat(this.duration));
            var playedWidth = parseFloat(parseFloat(this.currentTime) * parseFloat(timelineWidth) / parseFloat(this.duration));
            timeline.firstElementChild.firstElementChild.style.width = playedWidth + "px";
        };

        this.endPlayerTime = function (event) {
          

            videoPlayer.play_btn.className = "fa fa-play fa-lg";
            videoPlayer.video.currentTime = 0;
        };

        this.playedPlayer = function (event) {
            //alert('5');
            videoPlayer.play_btn.className = "fa fa-pause fa-lg";
            videoPlayer.cover.style.display = "none";
        };

        this.pausedPlayer = function (event) {
            //alert('6');
            videoPlayer.play_btn.className = "fa fa-play fa-lg";
        };

        this.progressPlayer = function (event) {
            //alert('7');
            //timeline move:
            var timeline = videoPlayer.timeline_btn;
            var timelineWidth = parseFloat(timeline.offsetWidth);
            if (this.buffered.length > 0) {
                var bufferedPercent = parseFloat(parseFloat(parseFloat(this.buffered.end(this.buffered.length - 1)) * 100) / parseFloat(this.duration));
                var bufferedWidth = parseFloat(parseFloat(this.buffered.end(this.buffered.length - 1)) * parseFloat(timelineWidth) / parseFloat(this.duration));
                timeline.firstElementChild.style.width = bufferedPercent + "%";
            } else {
                timeline.firstElementChild.style.width = "100%";
            }
        };

        this.volumechange = function (event) {
            //alert('8');
            if (videoPlayer.video.muted === true) {
                videoPlayer.mute_btn.className = "fa fa-volume-off fa-lg";
            } else {
                videoPlayer.mute_btn.className = "fa fa-volume-up fa-lg";
            }
        }

        this.errorPlayer = function (event) {
            alert(event);
            videoPlayer.play_btn.className = "fa fa-warning fa-lg";
        };
    }

</script>
<style>

    /*adding some styles for my custom html5 video player*/
    .videoPlayer {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 500px;
        overflow: hidden;
        background: #000;
        position: relative;
        font-size: 100%;
        font-family: tahoma;
    }

    .videoPlayer_video {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 500px;
        display: block;
    }

    .videoPlayer_cover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0,0.3);
        background-size: cover;
        opacity: 0.8;
        text-align: center;
    }

        .videoPlayer_cover p {
            text-align: center;
            color: #FFF;
        }

            .videoPlayer_cover p span {
                margin-top: 8%;
            }

            .videoPlayer_cover p:nth-child(2) {
                font-size: 200%;
            }

    .videoPlayer_buttons {
        position: absolute;
        bottom: 0px;
        left: 0px;
        text-align: center;
        display: block;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background: rgba(31,30,33,0.3);
        border-top: solid 1px rgba(31,30,33,0.5);
    }

        .videoPlayer_buttons ul {
            text-align: center;
            color: #FFF;
            display: block;
            padding: 0px;
            text-indent: 0px;
        }

            .videoPlayer_buttons ul li {
                display: inline-block;
                list-style: none;
                padding: 5px 5px;
                cursor: pointer;
            }

    .timeline {
        width: 45%;
        overflow: hidden;
        margin: 13px 5px;
        box-shadow: 0px 0px 5px 0px #000,inset 0px 0px 3px 0px #FFF;
        vertical-align: top;
        border-radius: 3px;
        background-color: #8f9598;
        padding: 0px !important;
    }

    .timeline-loaded {
        background-color: #c1c6c9;
        padding: 0px;
        margin: 0px;
        width: 0%;
    }

    .timeline-current {
        background-color: #dc3932 !important;
        padding: 4px 0px;
        margin: 0px;
        width: 0%;
    }
</style>
<script>
    $(document).ready(function () {

        (new videoPlayer).init(
            document.querySelector(".videoPlayer")
        );
      
    });
</script>