@model Mus_ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Nop.Web.Controllers;
@using Nop.Core.Http.Extensions
@using Newtonsoft.Json;

@inject IHttpContextAccessor HttpContextAccessor
@inject IWebHelper webHelper
@inject IWorkContext workContext

@{
    List<ShipmentValues> listOfShipmentInfo = HttpContextAccessor.HttpContext.Session.Get<List<ShipmentValues>>("ShipmentValues");
    var maxNumberOfShipments = listOfShipmentInfo.Max(x => x.ShipmentNumber);
    List<MultiShipmentInfo> multiShipmentInfo = HttpContextAccessor.HttpContext.Session.Get<List<MultiShipmentInfo>>("MultiShipmentInfo");
}
<script>
        maxNumberOfShipments = @maxNumberOfShipments
</script>
<div class="order-summary-content cart-table-container">
    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_before" })
    @await Html.PartialAsync("_Mus_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {


        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }

        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
            <div class="table-wrapper shopping-cart-table-structure" style="margin: auto;float:unset !important;text-align:center">
                <table class="cart mz-table mz-table-cart">
                    <colgroup>
                        @*@if (Model.ShowSku)
                            {
                                <col width="1" />
                            }*@
                        @if (Model.ShowProductImages)
                        {
                            <col width="1" />
                        }
                        <col />
                        <col width="1" />
                        <col width="1" />
                        <col width="1" />
                        @if (Model.IsEditable)
                        {
                            <col width="1" />
                        }
                    </colgroup>
                    <thead class="hide-mobile">
                        <tr>
                            @*@if (Model.ShowSku)
                                {
                                    <th class="sku">
                                        @T("ShoppingCart.SKU")
                                    </th>
                                }*@
                            @if (Model.ShowProductImages)
                            {
                                <th class="product-picture mz-carttable-header-product">
                                    @T("ShoppingCart.Image")
                                </th>
                            }
                            <th class="product mz-carttable-header-desc">
                                @T("ShoppingCart.Product(s)")
                            </th>

                            <th class="subtotal mz-carttable-header-total">
                                @*Shipping Method*@
                                نحوه ارسال
                            </th>
                            @if (Model.IsEditable)
                            {
                                <th class="remove-from-cart">
                                    @*@T("ShoppingCart.Remove")*@
                                </th>
                            }
                        </tr>
                    </thead>
                    @{
                        listOfShipmentInfo = listOfShipmentInfo.OrderBy(x => x.ShipmentNumber).ToList();
                        var curShipment = 0;
                        var newShipmentLine = true;
                    }
                    <tbody class="mz-table-cart-items">
                        @foreach (var shipment in listOfShipmentInfo)
                        {
                            if (Int32.Parse(shipment.ShipmentNumber) != curShipment)
                            {
                                curShipment = Int32.Parse(shipment.ShipmentNumber);
                                newShipmentLine = true;
                                <tr><td colspan="3" style="background-color:#eaeaea">مقصد #@shipment.ShipmentNumber</td></tr>
                            }
                            else
                            {
                                newShipmentLine = false;
                            }
                            @foreach (var item in Model.Items)
                            {
                                if (Int32.Parse(shipment.ItemNumber) != item.Id)
                                {
                                    continue;
                                }
                                <tr class="mz-carttable-item">
                                    @*@if (Model.ShowSku)
                                        {
                                            <td class="sku">
                                                <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                                <span class="sku-number">@item.Sku</span>
                                            </td>
                                        }*@
                                    @if (Model.ShowProductImages)
                                    {
                                        <td class="product-picture mz-carttable-item-product">
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.PackProductSeName ?? item.ProductSeName })"><img style="width:120px" class="mz-carttable-item-image" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                        </td>
                                    }
                                    <td class="product mz-carttable-item-desc" style="padding-left:25px;">
                                        <div class="mz-carttable-item-info-wrap">
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.PackProductSeName ?? item.ProductSeName })" class="product-name mz-carttable-item-title">@item.ProductName</a>
                                        </div>
                                        @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            @*<div class="attributes">
                                                    @Html.Raw(item.AttributeInfo)
                                                </div>*@
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.WeightOz))
                                        {
                                            <div class="weight">
                                                <span class="gray">وزن &nbsp;</span>
                                                <b>@item.WeightOz</b>
                                                <br />
                                                <span class="gray">تعداد &nbsp;</span>
                                                <b>@item.Quantity</b>
                                            </div>
                                        }


                                        @*@if (!string.IsNullOrEmpty(item.RecurringInfo))
                                        {
                                            <div class="recurring-info">
                                                @Html.Raw(item.RecurringInfo)
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.RentalInfo))
                                        {
                                            <div class="rental-info">
                                                @Html.Raw(item.RentalInfo)
                                            </div>
                                        }
                                        @if (Model.IsEditable && item.AllowItemEditing)
                                        {
                                            var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                            editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                            <div class="edit-item">
                                                <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                            </div>
                                        }*@
                                        @if (item.Warnings.Count > 0)
                                        {
                                            <div class="message-error">
                                                <ul>
                                                    @foreach (var warning in item.Warnings)
                                                    {
                                                        <li>@warning</li>
                                                    }

                                                </ul>
                                            </div>
                                        }
                                        @*<ul>
                                            @if (item.AvailableStartDateTimeUtc != null || item.AvailableEndDateTimeUtc != null)
                                            {
                                                <li style="color: #d56b0d;">
                                                    Ordering available from
                                                    <strong style="color:#ad0031">@item.AvailableStartDateTimeUtc - @item.AvailableEndDateTimeUtc</strong>
                                                </li>
                                            }
                                            @if (item.PreOrderAvailabilityStartDateTimeUtc != null)
                                            {
                                                <li style="color: #d56b0d;">
                                                    Delivery available after
                                                    <strong style="color:#ad0031">@item.PreOrderAvailabilityStartDateTimeUtc</strong>
                                                </li>
                                            }
                                        </ul>*@
                                    </td>
                                    <td>
                                        @if (newShipmentLine)
                                        {
                                            var ModelMulti = multiShipmentInfo.FirstOrDefault(p => p.ShipmentNumber == @curShipment);
                                            
                                            <select class="shippingMethodSelect" id="shippingMethodSelect_@curShipment" >
                                                @for (int i = 0; i < multiShipmentInfo.FirstOrDefault(p => p.ShipmentNumber == @curShipment).ShippingMethod.ShippingMethods.Count(); i++)
                                                {
                                                    var shippingMethod = multiShipmentInfo.FirstOrDefault(p => p.ShipmentNumber == @curShipment).ShippingMethod.ShippingMethods[i];
                                                    var a = shippingMethod.Name ;
                                                    <option>@a</option>
                                                }

                                            </select>
                                            <br />
                                            <br />
                                            <div class="deliverydate" style="display:none">
                                                <h3 class="delivery-date-title">@T("Checkout.ShippingMethod.DeliveryDate"):</h3>
                                                <input id="deliverydatepicker_@curShipment" />
                                            </div>

                                            <script type="text/javascript">
                                              
   var setBlacks_@curShipment = function() {
        @*var FPO = [0, 1];
        var FSO = [0, 1, 6];
        var FES = [0, 6];
        debugger;
        var fedexblackout = [];
        var array = '@ModelMulti.ShippingMethod.StoreBlackOutDays?.Replace(" ","")';
        $('#deliverydatepicker_@curShipment').attr("autocomplete", "off");

        var selectedValue = $("#shippingMethodSelect_@curShipment").val().split(' - ')[0];
        if (selectedValue == "FedEx Priority Overnight") {
            array = array + '@ModelMulti.ShippingMethod.ShippingMethods.FirstOrDefault(p=>p.Name.Equals("FedEx Priority Overnight"))?.BlackOutDays';
            fedexblackout = FPO;
        }
        else if (selectedValue == "FedEx Standard Overnight") {
            array = array + '@ModelMulti.ShippingMethod.ShippingMethods.FirstOrDefault(p=>p.Name.Equals("FedEx Standard Overnight"))?.BlackOutDays';
            fedexblackout = FSO;
        }
        else if (selectedValue == "FedEx Express Saver") {
            array = array + '@ModelMulti.ShippingMethod.ShippingMethods.FirstOrDefault(p=>p.Name.Equals("FedEx Express Saver"))?.BlackOutDays';
            fedexblackout = FES;
        }
        var blackout = array.split(',');
        $('#deliverydatepicker_@curShipment').datepicker({
            minDate: 0,
            beforeShowDay: function (date) {
                var string = jQuery.datepicker.formatDate('mm/dd/yy', date);
                var day = date.getDay();
                return [blackout.indexOf(string) == -1 && fedexblackout.indexOf(day) == -1]
            }
        });*@
    }
    $(document).ready(function () {
        window['setBlacks_@curShipment']();

        $("#shippingMethodSelect_@curShipment").change(
            function () {
                debugger;
                $("#deliverydatepicker_@curShipment").datepicker("destroy");
                $('#deliverydatepicker_@curShipment').val("");
                 window['setBlacks_@curShipment']();
            });
    });
                                            </script>
                                        }


                                    </td>

                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            @if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
            {
                var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <div class="tax-shipping-info">
                    @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }
            <div class="cart-options">
                @if (Model.IsEditable)
                {
                    <div class="common-buttons">
                        <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button-2 update-cart-button" style="display:none;" />
                        <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" />
                        <em class="mz-auxiliary-text">Tax &amp; Shipping Calculated at Checkout</em>
                    </div>
                }
                @if (Model.IsEditable)
                {
                    @await Html.PartialAsync("_Mus_CheckoutAttributes", Model)
                }
                @await Component.InvokeAsync("SelectedCheckoutAttributes")
            </div>

            @if (Model.IsEditable)
            {
                @await Component.InvokeAsync("CrossSellProducts")
            }
        </form>
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_after" })
    <script>
        $(document).ready(function () {
            $(".cart td, .cart th").css("border-width", "0px");

            $(".lb-input-dec").click(function () {
                var $button = $(this);
                var oldValue = $button.parent().find(".lb-input").val();
                if (oldValue > 1) {
                    var newval = parseInt(oldValue) - 1;
                    $button.parent().find(".mz-carttable-qty-field").val(newval);
                    var price = $button.closest(".mz-carttable-item").find(".unit-price > .product-unit-price").text().replace('$', '');
                    var totalPrice = (parseFloat(price) * newval).toFixed(2);
                    $button.closest(".mz-carttable-item").find(".subtotal > .product-subtotal").text('$' + totalPrice);

                    updateCart_Post(1000);
                }
            });
            $(".lb-input-inc").on("click", function () {
                var $button = $(this);
                var oldValue = $button.parent().find(".lb-input").val();
                var newval = parseInt(oldValue) + 1;
                $button.parent().find(".mz-carttable-qty-field").val(newval);
                var price = $button.closest(".mz-carttable-item").find(".unit-price > .product-unit-price").text().replace('$', '');
                var totalPrice = (parseFloat(price) * newval).toFixed(2);
                $button.closest(".mz-carttable-item").find(".subtotal > .product-subtotal").text('$' + totalPrice);

                updateCart_Post(1000);
            });
            $(".lb-input").on('change', function () {
                updateCart_Post(1000);
            });

        });

        function removeFromCart_Post(ele, id) {
            $('[name="removefromcart"]', $(ele)).val(id).click();

            updateCart_Post();
        }

        var _updateCart_Post;

        function updateCart_Post(timeOut) {

            if (_updateCart_Post)
                clearTimeout(_updateCart_Post);

            _updateCart_Post = setTimeout(function () {
                $('#shopping-cart-form [name="updatecart"]').click();
            }, timeOut || 100);

        }
                                            </script>
</div>

<script type="text/javascript" asp-location="Footer">
    $(document).ready(function () {
        $('#checkout').click(function () {
            $.ajax({
                url: "/Customer/LoginSignupPopup",
                success: function (data) {
                    $('#loginModal').css("display", "block");
                    $('#loginModal').html(data);
                    $('#loginModal .login-modal').css("display", "block");
                    $('.sectionforcheckout').css("display", "block");
                    $('.sectionforlogin').css("display", "none");

                },
                error: function () {
                    $("#loginModal").html('Page not Found');
                }
            });
        });
    });
</script>
