@model FoxNetSoft.Plugin.Payments.PaymentRules.Models.PaymentRuleModel
@using FoxNetSoft.Plugin.Payments.PaymentRules.Logger
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = @T("Admin.FoxNetSoft.PaymentRules.AddNew").Text;

    Html.SetActiveMenuItemSystemName("FoxNetSoft.PaymentRules.List");
}
<form asp-controller="PaymentRulesAdmin" asp-action="Create" method="post" id="paymentrule-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.FoxNetSoft.PaymentRules.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.FoxNetSoft.PaymentRules.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync(PluginLog.Folder + "Views/PaymentRulesAdmin/_CreateOrUpdate.cshtml", Model)
</form>
