@model FoxNetSoft.Plugin.Payments.PaymentRules.Models.PaymentRulesSettingsModel
@using Microsoft.AspNetCore.Mvc.Controllers
@using Nop.Core
@using Nop.Core.Plugins
@inject IPluginFinder pluginFinder
@inject IWebHelper webHelper
@{
    var plugin = PluginManager.FindPlugin((this.ViewContext.ActionDescriptor as ControllerActionDescriptor).ControllerTypeInfo).Instance();

    //friendly name
    var friendlyName = plugin?.PluginDescriptor.FriendlyName;

    //Misc plugins

    var configureLocale = "Admin.Configuration.Plugins.Misc.Configure";
    var backToLocale = "Admin.Configuration.Plugins.Misc.BackToList";
    var listActionMethodName = "List";
    var listControllerName = "Plugin";

    //Layout = "_ConfigurePlugin";
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("FoxNetSoft.PaymentRules.Configure");
    ViewBag.Title = T(configureLocale).Text + " - " + friendlyName;

}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T(configureLocale) - @friendlyName
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a asp-action="@listActionMethodName" asp-controller="@listControllerName">@T(backToLocale)</a>
        </small>
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <form asp-controller="PaymentRulesSettings" asp-action="Configure" method="post">

            <script type="text/javascript">
        $(document).ready(function () {
            $("#showDebugInfo").click(toggleshowDebugInfo);

            toggleshowDebugInfo();
        });

        function toggleshowDebugInfo() {
            if ($('#showDebugInfo').is(':checked')) {
                $('#pnlclearlogfile, #pnlgetlogfile').show();
            }
            else {
                $('#pnlclearlogfile, #pnlgetlogfile').hide();
            }
        }
            </script>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @if (Model.IsRegisted == true)
                                        {
                                        @T("Admin.FoxNetSoft.PaymentRules.IsRegisted")
                                        }
                                        else
                                        {
                                        @T("Admin.FoxNetSoft.PaymentRules.IsNoRegisted")
                                        <br />
                                        <a href="https://www.foxnetsoft.com/paymentmethodrules" target="blank">Buy It Now</a>
                                        }
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Enabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Enabled" />
                                <span asp-validation-for="Enabled"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="showDebugInfo" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="showDebugInfo" />
                                <span asp-validation-for="showDebugInfo"></span>
                                <div id="pnlclearlogfile">
                                    <a href="@Url.Action("ClearLogFile")" class="k-button">@T("Admin.FoxNetSoft.PaymentRules.ClearLogFile")</a>
                                </div>
                                <div id="pnlgetlogfile">
                                    <a href="@Url.Action("GetLogFile")" class="k-button">@T("Admin.FoxNetSoft.PaymentRules.GetLogFile")</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="StoreUrl" />
                            </div>
                            <div class="col-md-9">
                                <input class="form-control text-box single-line" id="StoreUrl" name="StoreUrl" value="@Model.StoreUrl" type="text" readonly="readonly">
                                <span asp-validation-for="StoreUrl"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SerialNumber" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SerialNumber" />
                                <span asp-validation-for="SerialNumber"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                            </div>
                        </div>
                        <p>
                            Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                            <br />
                            Installation and configuring plug-in at our site <a href="https://www.foxnetsoft.com/documentation-paymentmethodrules" target="blank">https://www.foxnetsoft.com/documentation-paymentmethodrules</a>
                            <br />
                            <a href="https://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
